div {
  box-sizing: border-box;
}
.wrap {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.72916667vw;
}
.wrap::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.wrap::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.wrap::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
#sel {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  padding-top: 1.04166667vw;
  border: 0.10416667vw solid #3391c7;
  position: relative;
}
#sel .jiao {
  position: absolute;
  width: 1.04166667vw;
  height: 1.04166667vw;
  border: none;
  background: url(../../../assets/img/jiao.png) no-repeat;
  background-size: cover;
}
#sel .jiao:nth-of-type(1) {
  top: -0.20833333vw;
  left: -0.15625vw;
}
#sel .jiao:nth-of-type(2) {
  top: -0.20833333vw;
  right: -0.15625vw;
  transform: rotate(90deg);
}
#sel .jiao:nth-of-type(3) {
  bottom: -0.15625vw;
  right: -0.15625vw;
  transform: rotate(180deg);
}
#sel .jiao:nth-of-type(4) {
  bottom: -0.15625vw;
  left: -0.15625vw;
  transform: rotate(270deg);
}
#sel .items {
  position: relative;
}
#sel .title {
  width: 11.97916667vw;
  height: 1.77083333vw;
  line-height: 1.77083333vw;
  color: #fff;
  font-size: 0.72916667vw;
  background: url(../../../assets/img/xq-title.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  margin-left: 0.83333333vw;
}
#sel .title span {
  width: 1.04166667vw;
  height: 1.04166667vw;
  margin: 0 1.04166667vw;
  background: url(../../../assets/img/xq-icon2.png) no-repeat;
  background-size: cover;
}
#sel .items:nth-child(6) span {
  background: url(../../../assets/img/xq-baojin.png) no-repeat;
  background-size: cover;
}
#sel .items:nth-child(7) span {
  background: url(../../../assets/img/xq-icon1.png) no-repeat;
  background-size: cover;
}
#sel .sel-wrap {
  height: 2.8125vw;
  padding-left: 2.08333333vw;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}
#sel .sel-wrap input {
  box-sizing: border-box;
  width: 8.33333333vw;
  height: 1.04166667vw;
  border: 0.05208333vw solid #a9b3bb;
  border-radius: 0.15625vw;
  background: none;
  line-height: 1.04166667vw;
  color: #cfc8c8;
  margin: 0 1.14583333vw;
  font-size: 0.72916667vw;
}
#sel .sel-wrap .sub {
  width: 3.02083333vw;
  height: 0.98958333vw;
  color: #132d44;
  text-align: center;
  line-height: 0.98958333vw;
  cursor: pointer;
  background: url(../../../assets/img/xq-chaxun.png) no-repeat;
  background-size: 100% 100%;
}
.content {
  width: 100%;
  height: 30.72916667vw;
  margin-top: 3.125vw;
  display: flex;
  justify-content: space-between;
  font-size: 0.83333333vw;
  color: #fff;
}
.content > div {
  width: 49%;
  height: 100%;
}
.content > div > div {
  width: 90%;
  height: 80%;
}
.content .left {
  background: url(../../../assets/img/xq-bg.png) no-repeat;
  background-size: 100% 100%;
  height: 80%;
  position: relative;
}
.content .left .title {
  position: absolute;
  top: 0.3125vw;
  width: 15.625vw;
  height: 2.76041667vw;
  margin: 0.52083333vw auto 0;
  line-height: 2.76041667vw;
  text-align: center;
  font-size: 1.04166667vw;
  color: #fff;
}
.content .left > div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.52083333vw;
  margin: auto;
  height: 76%;
}
.content .right {
  background: url(../../../assets/img/xq-bg.png) no-repeat;
  background-size: 100% 100%;
  height: 80%;
  position: relative;
}
.content .right .title {
  position: absolute;
  top: 0.3125vw;
  width: 15.625vw;
  height: 2.76041667vw;
  margin: 0.52083333vw auto 0;
  line-height: 2.76041667vw;
  text-align: center;
  font-size: 1.04166667vw;
  color: #fff;
}
.content .right > div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.52083333vw;
  margin: auto;
}
.tit {
  height: 2.39583333vw;
  line-height: 2.39583333vw;
  width: 34.6875vw;
  margin: 0.78125vw auto 0;
  border-bottom: 0.05208333vw solid #3a6785;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 1fr;
}
.tit span {
  text-align: center;
}
.awrap {
  height: 13.54166667vw;
  width: 34.6875vw;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.list-new {
  position: absolute;
  top: 0;
  left: 0;
}
.list-new .item {
  height: 2.39583333vw;
  line-height: 2.39583333vw;
  width: 34.6875vw;
  border-bottom: 0.05208333vw solid #3a6785;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 1fr;
}
.list-new .item span {
  text-align: center;
}
.type-wrap {
  height: 2.8125vw;
  padding-left: 2.08333333vw;
  display: flex;
  align-items: center;
}
.type-wrap .item {
  width: 7.08333333vw;
  height: 0.83333333vw;
  line-height: 0.83333333vw;
  display: flex;
  font-size: 0.625vw;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.type-wrap .item i {
  width: 0.83333333vw;
  height: 0.83333333vw;
  margin-right: 0.78125vw;
  background: url(../../../assets/img/xq-select.png) no-repeat;
  background-size: 100% 100%;
}
.type-wrap .selected {
  color: #fff;
}
.type-wrap .selected i {
  background: url(../../../assets/img/xq-sellected.png) no-repeat;
  background-size: 100% 100%;
}
.jg-wrap {
  padding-left: 2.08333333vw;
  padding-top: 0.83333333vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.jg-wrap .item {
  width: 10.41666667vw;
  height: 0.9375vw;
  line-height: 0.9375vw;
  font-size: 0.72916667vw;
  margin-bottom: 0.83333333vw;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.jg-wrap .item i {
  display: inline-block;
  width: 0.83333333vw;
  height: 0.83333333vw;
  transform: translateY(1px);
  margin-right: 0.78125vw;
  background: url(../../../assets/img/xq-select.png) no-repeat;
  background-size: 100% 100%;
}
.jg-wrap .selected {
  color: #fff;
}
.jg-wrap .selected i {
  background: url(../../../assets/img/xq-sellected.png) no-repeat;
  background-size: 100% 100%;
}
.sub-wrap {
  width: 100%;
  height: 2.60416667vw;
  position: relative;
}
.sub-wrap .sub {
  position: absolute;
  cursor: pointer;
  width: 6.77083333vw;
  height: 1.5625vw;
  color: #132d44;
  text-align: center;
  line-height: 1.5625vw;
  right: 1.04166667vw;
  background: url(../../../assets/img/xq-sub.png) no-repeat;
  background-size: 100% 100%;
}
