.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.header {
  height: 20%;
  width: 100%;
  background: #265780;
  position: absolute;
  z-index: 1;
  font-size: 0.12rem;
  color: #fff;
  line-height: 0.36rem;
  text-align: center;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 3fr 1.5fr 2fr 2fr 4fr;
  grid-template-rows: 1fr;
}
.header span {
  border-right: 0.01rem solid rgba(255, 255, 255, 0.6);
}
.list12 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.list12 .item {
  width: 100%;
  height: 0.4rem;
  font-size: 0.16rem;
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.6);
  display: grid;
  grid-template-columns: 3fr 1.5fr  2fr 2fr 4fr;
  grid-template-rows: 1fr;
  font-size: 0.12rem;
  color: #f5f6f8;
  text-align: center;
  line-height: 0.4rem;
}
.list12 .item span {
  border-right: 0.01rem solid rgba(255, 255, 255, 0.6);
}
.list12 .item span:hover {
  background: linear-gradient(to bottom, rgba(93, 206, 237, 0.4), rgba(93, 206, 237, 0.1));
}
.list12 .item span:nth-last-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list12 .item span:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
