.jigou {
  width: 100%;
  height: 96%;
  background: url(../../assets/img/jigouguanli.png) no-repeat;
  background-size: 100% 100%;
  color: #55affd;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.tree-menu {
  width: 11%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.tree-menu h3 {
  width: 100%;
  height: 0.5rem;
  font-size: 0.2rem;
  line-height: 0.5rem;
  text-indent: 0.3rem;
  color: #fff;
}
.tree-menu .nav-wrap {
  transform: scaleX(0.96) translate3d(0, 0, 0);
}
.tree-menu .nav-wrap /deep/ .el-tree {
  background: none;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__label {
  font-size: 0.16rem;
  color: #8ecfff;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content:hover {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content span {
  color: #df7d26;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content .el-tree-node__expand-icon {
  padding: 0.01rem;
}
.tree-menu::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.tree-menu::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.tree-menu::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.top-nav {
  width: 88%;
  height: 0.3rem;
  position: absolute;
  right: 0;
  display: flex;
}
.top-nav .bread-wrap {
  width: 60%;
  height: 100%;
}
.top-nav .search-wrap {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  font-size: 0.16rem;
  border: 1px solid #55affd;
  overflow: hidden;
  display: flex;
}
.top-nav .search-wrap .sel {
  flex: 3;
  font-size: 0.14rem;
  background: #20364e;
  color: #fff;
}
.top-nav .search-wrap .textput {
  flex: 7;
  font-size: 0.14rem;
  text-indent: 0.15rem;
  background: #20364e;
  color: #fff;
  border-left: 0.01rem solid #55affd;
  border-right: 0.01rem solid #55affd;
}
.top-nav .search-wrap .sub {
  flex: 1;
  font-size: 0.16rem;
  cursor: pointer;
  background: #20364e url(../../assets/img/search.jpg) no-repeat center;
}
.page-index {
  width: 42%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  height: 3.6vh;
  position: absolute;
  right: 0;
  bottom: -4.6vh;
  background: url(../../assets/img/fenye.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
.page-index /deep/ .el-pagination__total {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .el-pagination button {
  background: none;
}
.page-index /deep/ .el-pager li {
  background: none;
}
.page-index /deep/ .number {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .active {
  color: #409EFF;
}
.message-box {
  width: 55%;
  height: 0.5rem;
  font-size: 0.18rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0.33rem;
  right: 3rem;
  text-align: center;
  line-height: 0.5rem;
}
.add-del {
  width: 4.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  position: absolute;
  top: 5%;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-del button {
  font-size: 0.12rem;
  background: none;
  color: #a4d3ff;
  margin: 0 0.1rem;
  cursor: pointer;
}
.add-del button:before {
  display: inline-block;
  content: '';
  margin: 0 0.02rem;
  margin-bottom: -0.07rem;
  width: 0.26rem;
  height: 0.26rem;
}
.add-del button:active {
  color: #c74512;
}
.add-del button:nth-child(1):before {
  background: url(../../assets/img/add.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:nth-child(2):before {
  background: url(../../assets/img/delete.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:nth-child(3):before {
  background: url(../../assets/img/retext.png) no-repeat;
  background-size: 100% 100%;
}
.content {
  width: 88.9%;
  height: 89%;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 8.5vh;
}
.change_type {
  width: 2rem;
  height: 0.4rem;
  position: absolute;
  top: 3.7037037vh;
  left: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.change_type button {
  border: 0.01rem solid rgba(129, 126, 126, 0.3);
  color: #fff;
  width: 0.36rem;
  height: 0.36rem;
  line-height: 0.2rem;
  padding: 0.05rem 0.1rem;
  border-radius: 0.05rem;
  cursor: pointer;
}
.change_type button:nth-child(1) {
  background: url(../../assets/img/keshihua.png) no-repeat;
  background-size: 100% 100%;
}
.change_type button:nth-child(2) {
  background: url(../../assets/img/leibiao.png) no-repeat;
  background-size: 100% 100%;
}
.change_type .active {
  border-color: #50b5f8;
}
.alert {
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
}
.alert .text-wrap {
  width: 40%;
  height: 46%;
  background: url(../../assets/img/changepass.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.alert .text-wrap .text-title {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.4rem;
  line-height: 0.38rem;
}
.alert .text-wrap .text-content {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  font-size: 0.12rem;
}
.alert .text-wrap .text-content div {
  margin: 0.2rem 0;
  height: 0.4rem;
  line-height: 0.5rem;
}
.alert .text-wrap .text-content div input {
  height: 0.4rem;
  width: 3rem;
  border-radius: 0.05rem;
  text-indent: 0.15rem;
}
.alert .text-wrap .text-content div select {
  height: 0.4rem;
  width: 1rem;
  border-radius: 0.05rem;
}
.alert .text-wrap .text-content .check-person {
  background: #185277;
  position: relative;
  z-index: 5;
  width: 6rem;
  height: auto;
  max-height: 3rem;
  border-radius: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}
.alert .text-wrap .text-content .check-person .p-item {
  background: #064681;
  margin: 0.05rem;
  width: 2.85rem;
  border-radius: 0.03rem;
  text-indent: 0.1rem;
  cursor: pointer;
}
.alert .text-wrap .text-content .check-person::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0.08rem;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0.08rem;
}
.alert .text-wrap .text-content .check-person::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0.05rem;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.alert .text-wrap .text-content .check-person::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.alert .text-wrap .submit {
  margin: 0rem auto;
  font-size: 0.18rem;
  letter-spacing: 0.18rem;
  width: 1rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  text-indent: 0.16rem;
  background: #185277;
  color: #fff;
  border-radius: 0.1rem;
}
.alert .text-wrap i {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  border-radius: 50%;
  background: #fff;
  color: blue;
  top: 0.2rem;
  right: 0.2rem;
  text-align: center;
  cursor: pointer;
}
.alert .text-wrap i:hover {
  background: red;
}
.xiugai {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 5.5rem;
  height: 3rem;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-size: 0.16rem;
  background: url(../../assets/img/changepass.png) no-repeat;
  background-size: 100% 100%;
}
.xiugai input {
  text-indent: 0.1rem;
}
.xiugai .del {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}
.xiugai .del:hover {
  background: crimson;
}
.xiugai .change-type {
  width: 4rem;
  height: 0.3rem;
  line-height: 0.3rem;
  margin-top: 0.06rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.xiugai .sub-wrap {
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  padding: 0.03rem 0.1rem;
  border-radius: 0.05rem;
  transform: translateX(-50%);
  cursor: pointer;
}
.content2 {
  width: 88.9%;
  height: 88%;
  position: absolute;
  right: 0;
  top: 0.83rem;
  font-size: 0.16rem;
}
.content2 .none-data {
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 0.2rem;
  background: rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  border-radius: 0.2rem;
}
.content2 .list-title {
  width: 100%;
  height: 5.1%;
  display: flex;
  align-items: center;
  border-width: 0.05208333vw 0;
  border-style: solid;
  border-color: cornflowerblue;
}
.content2 .list-title input {
  flex: 1;
}
.content2 .list-title span {
  height: 100%;
  line-height: 3.33333333vh;
  flex: 3;
  text-align: center;
  border-left: 0.05208333vw solid cornflowerblue;
}
.content2 .list-item {
  box-sizing: border-box;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  border-width: 0 0 0.05208333vw;
  border-style: solid;
  border-color: cornflowerblue;
}
.content2 .list-item input {
  flex: 1;
}
.content2 .list-item span {
  height: 100%;
  line-height: 3.33333333vh;
  font-size: 0.72916667vw;
  color: #fff;
  flex: 3;
  text-align: center;
  border-left: 0.05208333vw solid cornflowerblue;
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
.alert {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 60%;
  z-index: 1;
  height: 8rem;
  background: url(../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
}
.alert .del {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.2rem;
  color: #fff;
  border: 0.01rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9;
}
.alert .close {
  position: absolute;
  right: 1.05rem;
  bottom: 0.06rem;
  width: 1.7rem;
  height: 0.3rem;
  font-size: 0.18rem;
  background: none;
  z-index: 99;
  color: #fff;
  cursor: pointer;
}
.alert p {
  font-size: 0.5rem;
}
@keyframes round1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes round2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.alert4 {
  width: 50%;
  height: 7.2rem;
}
.alert4 .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 44.79166667vw;
  height: 23.95833333vw;
  background: url(../../assets/img/qiangzhi-alert.png) no-repeat 0 20px;
  background-size: 100% 95%;
}
.alert4 .content .t {
  position: absolute;
  width: 9.375vw;
  height: 1.5625vw;
  font-size: 0.9375vw;
  text-align: center;
  line-height: 1.5625vw;
}
.alert4 .content .t1 {
  left: 3.64583333vw;
  top: 0vw;
}
.alert4 .content .t2 {
  left: 0.3125vw;
  top: 4.94791667vw;
}
.alert4 .content .t3 {
  left: 0.20833333vw;
  top: 16.82291667vw;
}
.alert4 .content .t4 {
  left: 3.64583333vw;
  top: 21.66666667vw;
}
.alert4 .content .t5 {
  right: 2.60416667vw;
  top: 0vw;
}
.alert4 .content .t6 {
  right: 0.26041667vw;
  top: 5vw;
}
.alert4 .content .t7 {
  right: 0.52083333vw;
  top: 16.82291667vw;
}
.alert4 .content .t8 {
  right: 4.16666667vw;
  top: 21.35416667vw;
  color: #fff;
  cursor: pointer;
}
.alert4 .content .r1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 14.0625vw;
  height: 14.0625vw;
  border-radius: 50%;
  background: url(../../assets/img/qiangzhi-r2.png) no-repeat;
  background-size: 100% 100%;
  animation: round1 6s linear infinite;
}
.alert4 .content .r2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 9.375vw;
  height: 9.375vw;
  border-radius: 50%;
  background: url(../../assets/img/qiangzhi-r1.png) no-repeat;
  background-size: 100% 100%;
  /* animation: round2 2s linear infinite; */
}
.alert4 .content .r2 .r2Type{
  width: 9.375vw;
  height: 9.375vw;
}
.alert4 .m-list .text {
  background: #284a77;
}
.alert4 .text {
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 100%;
  height: 3rem;
  font-size: 0.16rem;
}
.alert4 .text .title {
  width: 96%;
  height: 0.4rem;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 5fr 5fr 3fr;
  grid-template-rows: 1fr;
  grid-gap: 0.03rem;
  border: 0.01rem solid #3f52c0;
}
.alert4 .text .title span {
  text-align: center;
  line-height: 0.4rem;
  border-right: 0.01rem solid #3f52c0;
}
.alert4 .text .title span:last-child {
  border: none;
}
.alert4 .text .list {
  width: 96%;
  height: 0.4rem;
  margin-left: 2%;
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 3fr  3fr 3fr 5fr 5fr 3fr;
  grid-template-rows: 1fr;
  grid-gap: 0.03rem;
  border: 0.01rem solid #3f52c0;
  border-top: none;
}
.alert4 .text .list span {
  text-align: center;
  line-height: 0.4rem;
  border-right: 0.01rem solid #3f52c0;
}
.alert4 .text .list span:last-child {
  border: none;
}
.alert4 .text .list_wrap {
  max-height: 2.4rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.alert4 .list_wrap::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.alert4 .list_wrap::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.alert4 .list_wrap::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.alert4 .contentwrap {
  width: 100%;
  height: 90%;
  position: relative;
}
.alert4 .contentwrap .top {
  position: absolute;
  left: 50%;
  top: 3rem;
  width: 6rem;
  height: 3rem;
  z-index: 1;
  transform: translateX(-40%);
  background: url(../../assets/img/gun-xq.png) no-repeat;
  background-size: 100% 100%;
}
.alert4 .contentwrap .bottom {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 7rem;
  height: 7rem;
  transform-origin: center bottom;
  transform: rotateX(80deg);
}
.alert4 .contentwrap .bottom > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.alert4 .contentwrap .up {
  background: url(../../assets/img/dipan-up.png) no-repeat;
  background-size: 100% 100%;
  animation: round1 6s linear infinite;
}
.alert4 .contentwrap .down {
  background: url(../../assets/img/dipan-down.png) no-repeat;
  background-size: 100% 100%;
  animation: round2 6s linear infinite;
}
.bind-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
.bind-cover .bingbox {
  width: 60%;
  height: 70%;
  box-sizing: border-box;
  padding-top: 0.8rem;
  padding-left: 1.2rem;
  background: url(../../assets/img/round-bg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 0.18rem;
}
.bind-cover .bingbox .close {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #ee8a8a;
  color: #fff;
  cursor: pointer;
}
.bind-cover .bingbox .text {
  width: 3rem;
  height: 0.4rem;
  margin-left: 50%;
  margin-bottom: 0.1rem;
  transform: translateX(-80%);
}
.bind-cover .bingbox .m-item-wrap {
  width: 88%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}
.bind-cover .bingbox .m-item-wrap .m-item {
  width: 2rem;
  height: 0.4rem;
  border-radius: 0.06rem;
  background: #005cc8;
  margin: 0.09rem 0.09rem 0 0.09rem;
  display: flex;
  line-height: 0.4rem;
  cursor: pointer;
}
.bind-cover .bingbox .m-item-wrap .m-item span {
  width: 100%;
  text-indent: 0.15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bind-cover .bingbox .m-item-wrap .no-data {
  font-size: 0.18rem;
  line-height: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.bind-cover .bingbox .m-item-wrap::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.bind-cover .bingbox .m-item-wrap::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.bind-cover .bingbox .m-item-wrap::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.bind-cover .bingbox .sub {
  padding: 0.03rem 0.06rem;
  border-radius: 0.03rem;
  margin-left: 50%;
  margin-top: 0.1rem;
  transform: translateX(-130%);
}
