.jigou {
  width: 100%;
  height: 96%;
  background: url(../../assets/img/jigouguanli.png) no-repeat;
  background-size: 100% 100%;
  color: #55affd;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.tree-menu {
  width: 11%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.tree-menu h3 {
  width: 100%;
  height: 0.5rem;
  font-size: 0.2rem;
  line-height: 0.5rem;
  text-indent: 0.3rem;
  color: #fff;
}
.tree-menu .nav-wrap {
  transform: scaleX(0.96) translate3d(0, 0, 0);
}
.tree-menu .nav-wrap /deep/ .el-tree {
  background: none;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__label {
  font-size: 0.16rem;
  color: #8ecfff;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content:hover {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content span {
  color: #df7d26;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content .el-tree-node__expand-icon {
  padding: 0.01rem;
}
.tree-menu::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.tree-menu::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.tree-menu::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.top-nav {
  width: 88%;
  height: 0.3rem;
  position: absolute;
  right: 0;
  display: flex;
}
.top-nav .bread-wrap {
  width: 60%;
  height: 100%;
}
.top-nav .search-wrap {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  font-size: 0.16rem;
  border: 1px solid #55affd;
  overflow: hidden;
  display: flex;
}
.top-nav .search-wrap .sel {
  flex: 3;
  font-size: 0.16rem;
  background: #20364e;
  color: #fff;
}
.top-nav .search-wrap .textput {
  flex: 7;
  font-size: 0.16rem;
  text-indent: 0.15rem;
  background: #20364e;
  color: #fff;
  border-left: 0.01rem solid #55affd;
  border-right: 0.01rem solid #55affd;
}
.top-nav .search-wrap .sub {
  flex: 1;
  font-size: 0.16rem;
  cursor: pointer;
  background: #20364e url(../../assets/img/search.jpg) no-repeat center;
}
.page-index {
  width: 42%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  height: 3.6vh;
  position: absolute;
  right: 0;
  bottom: -4.6vh;
  background: url(../../assets/img/fenye.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
.page-index /deep/ .el-pagination__total {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .el-pagination button {
  background: none;
}
.page-index /deep/ .el-pager li {
  background: none;
}
.page-index /deep/ .number {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .active {
  color: #409EFF;
}
.message-box {
  width: 55%;
  height: 0.4rem;
  font-size: 0.18rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0.33rem;
  right: 3rem;
  text-align: center;
  line-height: 0.4rem;
}
.add-del {
  width: 2.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  position: absolute;
  top: 0.3rem;
  right: 0;
  display: flex;
  align-items: center;
}
.add-del button:active {
  color: #b02727;
}
.add-del button {
  font-size: 0.12rem;
  background: none;
  color: #a4d3ff;
  margin: 0 0.1rem;
  cursor: pointer;
}
.add-del button:before {
  display: inline-block;
  content: '';
  margin: 0 0.02rem;
  margin-bottom: -0.07rem;
  width: 0.26rem;
  height: 0.26rem;
}
.add-del button:nth-child(1):before {
  background: url(../../assets/img/add.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:nth-child(2):before {
  background: url(../../assets/img/delete.png) no-repeat;
  background-size: 100% 100%;
}
.check-type {
  width: 2.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  position: absolute;
  font-size: 0.16rem;
  text-align: center;
  top: 0.3rem;
  right: 50%;
  cursor: pointer;
  transform: translateX(50%);
  background: rgba(158, 153, 153, 0.2);
}
.content {
  width: 88.9%;
  height: 88%;
  position: absolute;
  right: 0;
  top: 0.83rem;
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes round2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.alert .text-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 8rem;
  height: 6rem;
  background: url(../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 0.16rem;
}
.alert .text-wrap input {
  text-indent: 0.1rem;
}
.alert .text-wrap .text-title {
  width: 100%;
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.36rem;
}
.text-content > div {
  height: 0.4rem;
  width: 80%;
  display: flex;
  margin-top: 0.2rem;
}
.text-content > div span {
  width: 30%;
  text-align: right;
  line-height: 0.4rem;
  padding-right: 0.1rem;
}
.btnwrap {
  width: 60%;
  height: 0.6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btnwrap button {
  width: 0.6rem;
  height: 0.3rem;
  border-radius: 0.06rem;
}
