
@vw:19.2vw;
@vh:10.8vh;
@rem:100rem;
.wrap{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 9;
    background: rgba(0,0,0,0.6);
    color:#00e4ff;
    font-size: 14/@vw;
    .main{
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin:auto;
        width:1608/@vw;
        height:926/@vh;
        background: #082042;
        box-sizing: border-box;
        padding:60/@vh 80/@vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        .close{
            position: absolute;
            z-index: 99;
            top:6/@vw;
            right:6/@vw;
            width:40/@vw;
            height:40/@vw;
            background: url(../../../assets/img/dp-close.png) no-repeat;
            background-size: 100% 100%;
        }
        #map-content{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;

        }
        .item1{
            position: relative;
            width:100%;
            height:54%;
            box-sizing: border-box;
            padding:16/@vh 10/@vw;
            background-size: 100% 100%;
           
        }
        .item2{
            position: relative;
            width:100%;
            height:44%;
            box-sizing: border-box;
            border:2/@vw solid #35a4f7; 
            .top{
                width:100%;
                height:45/@vh;
                display: flex;
                font-size: 18/@vw;
                background: #051327;
                span{
                    flex: 1;
                    line-height: 45/@vh;
                    text-align: center;
                }
                .danwei::before{
                    display: inline-block;
                    content:"";
                    width:20/@vw;
                    height:20/@vw;
                    transform: translateY(3/@vh);
                    margin-right: 6/@vw;
                    background: url(../../../assets/img/dp-icon1.png) no-repeat;
                    background-size: 100% 100%;
                }
            }
            .list-wrap{
                position: relative;
                width: 100%;
                height:304/@vh;
                overflow-x: hidden;
                overflow-y: auto;
                .list{
                    position: absolute;
                    top:0;
                    left:0;
                    width:100%;
                    .item{
                        width:100%;
                        height:38/@vh;
                        font-size: 14/@vw;
                        color:#fff;
                        display: flex;
                        span{
                            flex: 1;
                            line-height: 38/@vh;
                            text-align: center;
                        }
                    }
                    .item:nth-child(odd){
                        background: #11293f;
                    }
                    .item:nth-child(even){
                        background: #264c6e;
                    }
                }
            }
        }
      
    }
}



.list-wrap::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4/@rem;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4/@rem;
  }

  .list-wrap::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5/@rem;
    -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
    background: rgba(34, 3, 117, 0.8);
  }

  .list-wrap::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(221, 213, 213, 0.6);
  }