.wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background: rgba(0, 0, 0, 0.6);
  color: #00e4ff;
  font-size: 0.72916667vw;
}
.wrap .main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 83.75vw;
  height: 85.74074074vh;
  background: #082042;
  box-sizing: border-box;
  padding: 5.55555556vh 4.16666667vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.wrap .main .close {
  position: absolute;
  top: 0.3125vw;
  right: 0.3125vw;
  width: 2.08333333vw;
  height: 2.08333333vw;
  background: url(../../../assets/img/dp-close.png) no-repeat;
  background-size: 100% 100%;
}
.wrap .main .item1 {
  position: relative;
  width: 100%;
  height: 49%;
  box-sizing: border-box;
  padding: 1.48148148vh 0.52083333vw;
  background: url(../../../assets/img/dp-long.png) no-repeat;
  background-size: 100% 100%;
}
.wrap .main .item1 .tit {
  position: absolute;
  top: -0.26041667vw;
  left: 2.08333333vw;
  font-size: 0.83333333vw;
  line-height: 1.04166667vw;
}
.wrap .main .item1 .list-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap .main .item1 .list-wrap .list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.04166667vw;
}
.wrap .main .item1 .list-wrap .list .item {
  width: 100%;
  height: 9.81481481vh;
  border-bottom: 0.10416667vw dotted #115371;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .main .item1 .list-wrap .list .item .l {
  width: 23.95833333vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .main .item1 .list-wrap .list .item .l span {
  font-size: 1.04166667vw;
}
.wrap .main .item1 .list-wrap .list .item .l .name {
  width: 5.41666667vw;
  height: 2.68518519vh;
  font-size: 0.78125vw;
  line-height: 2.68518519vh;
  text-align: center;
  background: url(../../../assets/img/dp-bg11.png) no-repeat;
  background-size: 100% 100%;
}
.wrap .main .item1 .list-wrap .list .item .l .number {
  width: 11.77083333vw;
  height: 5.09259259vh;
  line-height: 5.09259259vh;
  font-size: 1.5625vw;
  text-align: center;
  letter-spacing: 0.15625vw;
  background: url(../../../assets/img/dp-bg22.png) no-repeat;
  background-size: 100% 100%;
}
.wrap .main .item1 .list-wrap .list .item .c {
  width: 20.3125vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .main .item1 .list-wrap .list .item .c span {
  font-size: 1.04166667vw;
}
.wrap .main .item1 .list-wrap .list .item .c .name {
  width: 5.41666667vw;
  height: 2.68518519vh;
  font-size: 0.78125vw;
  line-height: 2.68518519vh;
  text-align: center;
  background: url(../../../assets/img/dp-bg11.png) no-repeat;
  background-size: 100% 100%;
}
.wrap .main .item1 .list-wrap .list .item .c .number {
  width: 11.77083333vw;
  height: 5.09259259vh;
  line-height: 5.09259259vh;
  font-size: 1.5625vw;
  text-align: center;
  letter-spacing: 0.15625vw;
  background: url(../../../assets/img/dp-bg22.png) no-repeat;
  background-size: 100% 100%;
}
.wrap .main .item1 .list-wrap .list .item .r {
  width: 20.3125vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .main .item1 .list-wrap .list .item .r span {
  font-size: 1.04166667vw;
}
.wrap .main .item1 .list-wrap .list .item .r .name {
  width: 5.41666667vw;
  height: 2.68518519vh;
  font-size: 0.78125vw;
  line-height: 2.68518519vh;
  text-align: center;
  background: url(../../../assets/img/dp-bg11.png) no-repeat;
  background-size: 100% 100%;
}
.wrap .main .item1 .list-wrap .list .item .r .number {
  width: 11.77083333vw;
  height: 5.09259259vh;
  line-height: 5.09259259vh;
  font-size: 1.5625vw;
  text-align: center;
  letter-spacing: 0.15625vw;
  background: url(../../../assets/img/dp-bg22.png) no-repeat;
  background-size: 100% 100%;
}
.wrap .main .item2 {
  position: relative;
  width: 49.2%;
  height: 49%;
  box-sizing: border-box;
  background: url(../../../assets/img/dp-duan.png) no-repeat;
  background-size: 100% 100%;
  padding: 1.04166667vw 0.52083333vw;
}
.wrap .main .item2 #child1_chart1 {
  width: 100%;
  height: 100%;
}
.wrap .main .item2 .tit {
  position: absolute;
  top: -0.05208333vw;
  left: 2.08333333vw;
  font-size: 0.83333333vw;
  line-height: 1.04166667vw;
}
.wrap .main .item3 {
  position: relative;
  width: 49.2%;
  height: 49%;
  background: url(../../../assets/img/dp-duan.png) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 1.04166667vw 0.52083333vw;
}
.wrap .main .item3 #child1_chart2 {
  width: 100%;
  height: 100%;
}
.wrap .main .item3 .tit {
  position: absolute;
  top: -0.05208333vw;
  left: 2.08333333vw;
  font-size: 0.83333333vw;
  line-height: 1.04166667vw;
}
