
@vw:19.2vw;
@vh:10.8vh;
@rem:100rem;
.wrap{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 9;
    background: rgba(0,0,0,0.6);
    .main-box{
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin:auto;
        width:1608/@vw;
        height:926/@vh;
        background: #082042;
        box-sizing: border-box;
        padding:50/@vh 90/@vw 0;
        font-size: 18/@vw;
        color:#fff;
        .close{
            position: absolute;
            top:6/@vw;
            right:6/@vw;
            width:40/@vw;
            height:40/@vw;
            background: url(../../../assets/img/dp-close.png) no-repeat;
            background-size: 100% 100%;
        }
        #item2map{
            position: absolute;
            z-index: 22;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            margin: auto;
            width:90%;
            height:90%;
            background: oldlace;
            
        }
        .top{
            width:100%;
            height: 60/@vh;
            color:#00edfb;
            display: flex;
            justify-content: space-between;
            .l{
                display: flex;
                font-size: 24/@vw;
                span{
                    width:38/@vw;
                    height:20/@vh;
                    margin-top: 5/@vh;
                    margin-right: 6/@vw;
                    background: url(../../../assets/img/dp-bg33.png)no-repeat;
                    background-size: 100% 100%;
                }
            }
            .r{
                font-size: 20/@vw;
            }
        }
        .header{
            width:100%;
            height:78/@vh;
            background: #061933;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20/@vw;
            color:#4adbff;
           span{
               flex: 1;
               text-align: center;
           }
            span:before{
                display: inline-block;
                content: "";
                width:21/@vw;
                height:21/@vw;
                margin-right:5/@vw;
                transform: translateY(3/@vh);
                background-size: 100% 100%;
            }
            span:nth-child(1):before{
                background: url(../../../assets/img/dp-icon1.png) no-repeat;
            }
            span:nth-child(2):before{
                background: url(../../../assets/img/dp-icon2.png) no-repeat;
            }
            span:nth-child(3):before{
                background: url(../../../assets/img/dp-icon3.png) no-repeat;
            }
            span:nth-child(4):before{
                background: url(../../../assets/img/dp-icon4.png) no-repeat;
            }
            span:nth-child(5):before{
                background: url(../../../assets/img/dp-icon5.png) no-repeat;
            }
            span:nth-child(6):before{
                background: url(../../../assets/img/dp-icon6.png) no-repeat;
            }
            span:nth-child(7):before{
                background: url(../../../assets/img/dp-icon7.png) no-repeat;
            }
        }
        .list{
            width: 100%;
            height:625/@vh;
            overflow-x: hidden;
            overflow-y: auto;
            overflow-x: hidden;
            .item{
                width:100%;
                height:48/@vh;
                display: flex;
                font-size: 18/@vw;
                justify-content: space-between;
                align-items: center;
                span{
                    flex: 1;
                    text-align: center;

                }
            }
            .item:nth-child(odd){
                background: #11293f;
            }
            .item:nth-child(even){
                background: #264c6e;
            }
        }
        .page{
            width:460/@vw;
            height:80/@vh;
            margin:0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            /deep/.btn-next{
                color:#00edfb;
            }
            /deep/.btn-prev{
                color:#00edfb;
            }
        }
    }
}

.list::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4/@rem;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4/@rem;
  }

  .list::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5/@rem;
    -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
    background: rgba(34, 3, 117, 0.8);
  }

  .list::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(221, 213, 213, 0.6);
  }

  
  .marker-route11 {
    position: relative;
    // width:70/@rem;
    // height:90/@rem;
    width: 50/@rem;
    height: 60/@rem;
    border:10px solid red;

  }

  .marker-route11 .cover11 {
      position: absolute;
      top:0;
      left:0;
      z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/tou.png) no-repeat;
    background-size: 100% 100%;
  }

  .marker-route11 .img_wrap11 {
    // width:68/@rem;
    // height:76/@rem;
    width: 46/@rem;
    height: 50/@rem;
    margin-top: 3/@rem;
    margin-left: 1/@rem;
    border-radius: 50%;
    // background: red;
    overflow: hidden;

    img {
        position: absolute;
        top:2/@vw;
        left:0;
      width: 100%;
    }
  }