.item {
  width: 6.8rem;
  height: 3rem;
  margin: 0.2rem 0.34rem 0;
  background: url(../../../assets/img/chiqiang.png) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding-top: 0.65rem;
  padding-left: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1%;
}
.item .imgwrap {
  width: 0.8rem;
  height: 1rem;
  overflow: hidden;
}
.item .imgwrap img {
  width: 0.8rem;
}
.item .textwrap {
  width: 5.2rem;
  height: 0.8rem;
  margin-left: 0.2rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.16rem;
  color: #fff;
}
.item .textwrap p {
  line-height: 0.28rem;
  padding: 0 0.1rem;
}
.item .textwrap button {
  float: right;
  margin-right: 0.03rem;
  right: 0;
  padding: 0rem 0.05rem;
  border-radius: 0.03rem;
  border: 0.01rem solid #00b2fc;
  color: #fff;
  background: linear-gradient(to top, #00b2fc, #00b2fc, transparent);
  cursor: pointer;
}
.item .textwrap button:nth-of-type(1) {
  right: 0.9rem;
}
.item .mes-l {
  width: 35%;
  height: 0.8rem;
  font-size: 0.16rem;
}
.item .mes-l span {
  float: left;
  width: 0.3rem;
  height: 0.3rem;
  background: url(../../../assets/img/shenpi.png) no-repeat;
  margin: 0.16rem 0.1rem 0 0.1rem;
  background-size: 100% 100%;
}
.item .mes-l p {
  line-height: 0.2rem;
  color: #fff;
}
.item .mes-l p:nth-of-type(1) {
  margin-top: 0.1rem;
}
.item .mes-r {
  width: 62%;
  height: 0.8rem;
  font-size: 0.16rem;
}
.item .mes-r span {
  float: left;
  width: 0.3rem;
  height: 0.3rem;
  background: url(../../../assets/img/shijian.png) no-repeat;
  margin: 0.16rem 0.1rem 0 0.1rem;
  background-size: 100% 100%;
}
.item .mes-r p {
  line-height: 0.2rem;
  color: #fff;
}
.item .mes-r p:nth-of-type(1) {
  margin-top: 0.1rem;
}
@keyframes warning {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.item .alert span {
  background: url(../../../assets/img/guiji-icon7.png) no-repeat;
  animation: warning 0.5s linear infinite;
  background-size: 100% 100%;
}
.cover1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 68999;
  background: rgba(0, 0, 200, 0.8);
}
.cover1 .alert {
  position: absolute;
  width: 57.29166667vw;
  height: 31.25vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(../../../assets/img/renyuan-a.png) no-repeat;
  background-size: 100% 100%;
}
.cover1 .alert .del {
  position: absolute;
  top: 1.5625vw;
  right: 0.52083333vw;
  width: 1.875vw;
  height: 1.875vw;
  border-radius: 50%;
  line-height: 1.875vw;
  font-size: 1.04166667vw;
  background: none;
  border: 0.05208333vw solid #fff;
  color: #fff;
  cursor: pointer;
}
.cover1 .alert .leftwrap {
  position: absolute;
  left: 4.16666667vw;
  top: 4.47916667vw;
  width: 15.10416667vw;
  height: 22.91666667vw;
  display: flex;
}
.cover1 .alert .leftwrap .box-l {
  width: 38%;
  height: 100%;
}
.cover1 .alert .leftwrap .box-l .imgwrap {
  position: absolute;
  left: 1.82291667vw;
  top: 2.55208333vw;
  width: 2.08333333vw;
  height: 2.08333333vw;
  background: #00b2fc;
  border-radius: 50%;
  overflow: hidden;
}
.cover1 .alert .leftwrap .box-l .imgwrap img {
  width: 100%;
}
.cover1 .alert .leftwrap .box-l .btnwrap {
  box-sizing: border-box;
  position: absolute;
  top: 6.09375vw;
  left: 0.52083333vw;
  width: 30%;
  height: 5.20833333vw;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}
.cover1 .alert .leftwrap .box-l .btnwrap button {
  width: 100%;
  height: 1.14583333vw;
  line-height: 1.14583333vw;
  font-size: 0.625vw;
  background: none;
  color: #fff;
}
.cover1 .alert .leftwrap .box-l .btnwrap button:nth-child(3) {
  color: red;
}
.cover1 .alert .leftwrap .box-l .iconwrap1 {
  position: absolute;
  top: 14.01041667vw;
  left: 0.52083333vw;
  width: 17%;
  height: 1.5625vw;
}
.cover1 .alert .leftwrap .box-l .iconwrap2 {
  position: absolute;
  top: 18.17708333vw;
  left: 0.52083333vw;
  width: 17%;
  height: 1.5625vw;
}
.cover1 .alert .leftwrap .box-r {
  width: 62%;
  height: 100%;
  font-size: 0.72916667vw;
  color: #fff;
}
.cover1 .alert .leftwrap .box-r > div {
  box-sizing: border-box;
}
.cover1 .alert .leftwrap .box-r .text1 {
  height: 5.20833333vw;
  margin-top: 1.04166667vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.cover1 .alert .leftwrap .box-r .text1 p {
  width: 100%;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cover1 .alert .leftwrap .box-r .text1 p i:nth-child(1) {
  flex: 1;
}
.cover1 .alert .leftwrap .box-r .text1 p i:nth-child(2) {
  flex: 2.6;
}
.cover1 .alert .leftwrap .box-r .text2 {
  height: 5.20833333vw;
  margin-top: 1.04166667vw;
  color: #03cbfe;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.cover1 .alert .leftwrap .box-r .text2 p {
  width: 100%;
  display: flex;
}
.cover1 .alert .leftwrap .box-r .text2 p i:nth-child(1) {
  flex: 1.2;
}
.cover1 .alert .leftwrap .box-r .text2 p i:nth-child(2) {
  flex: 2;
}
.cover1 .alert .leftwrap .box-r .text3 {
  height: 3.125vw;
  margin-top: 0.83333333vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.cover1 .alert .leftwrap .box-r .text3 p {
  width: 100%;
}
.cover1 .alert .leftwrap .box-r .text4 {
  height: 3.125vw;
  margin-top: 0.83333333vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.cover1 .alert .leftwrap .box-r .text4 p {
  width: 100%;
}
.cover1 .alert .mes {
  position: absolute;
  width: 8.85416667vw;
  height: 3.64583333vw;
  font-size: 0.625vw;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  box-sizing: border-box;
  padding: 0.52083333vw 0;
}
.cover1 .alert .mes p {
  width: 100%;
}
.cover1 .alert .mes p i:nth-child(2) {
  color: #cc713c;
}
.cover1 .alert .mes1 {
  top: 8.125vw;
  left: 25vw;
}
.cover1 .alert .mes2 {
  top: 19.21875vw;
  left: 25vw;
}
.cover1 .alert .mes3 {
  top: 8.85416667vw;
  left: 45.46875vw;
}
