.wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#sel {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  font-size: 0.72916667vw;
  padding-top: 1.04166667vw;
  border: 0.10416667vw solid #3391c7;
  position: relative;
}
#sel .jiao {
  position: absolute;
  width: 1.04166667vw;
  height: 1.04166667vw;
  border: none;
  background: url(../../assets/img/jiao.png) no-repeat;
  background-size: cover;
}
#sel .jiao:nth-of-type(1) {
  top: -0.20833333vw;
  left: -0.15625vw;
}
#sel .jiao:nth-of-type(2) {
  top: -0.20833333vw;
  right: -0.15625vw;
  transform: rotate(90deg);
}
#sel .jiao:nth-of-type(3) {
  bottom: -0.15625vw;
  right: -0.15625vw;
  transform: rotate(180deg);
}
#sel .jiao:nth-of-type(4) {
  bottom: -0.15625vw;
  left: -0.15625vw;
  transform: rotate(270deg);
}
#sel .items {
  position: relative;
}
#sel .title {
  width: 11.97916667vw;
  height: 1.77083333vw;
  line-height: 1.77083333vw;
  color: #fff;
  font-size: 0.72916667vw;
  background: url(../../assets/img/xq-title.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  margin-left: 0.83333333vw;
}
#sel .title span {
  width: 1.04166667vw;
  height: 1.04166667vw;
  margin: 0 1.04166667vw;
  background: url(../../assets/img/xq-icon2.png) no-repeat;
  background-size: cover;
}
#sel .items:nth-child(6) span {
  background: url(../../assets/img/xq-baojin.png) no-repeat;
  background-size: cover;
}
#sel .items:nth-child(7) span {
  background: url(../../assets/img/xq-icon1.png) no-repeat;
  background-size: cover;
}
#sel .sel-wrap {
  height: 2.8125vw;
  padding-left: 2.08333333vw;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}
#sel .sel-wrap input {
  box-sizing: border-box;
  width: 8.33333333vw;
  height: 1.04166667vw;
  border: 0.05208333vw solid #a9b3bb;
  border-radius: 0.15625vw;
  background: none;
  line-height: 1.04166667vw;
  color: #cfc8c8;
  margin: 0 1.14583333vw;
}
#sel .sel-wrap .sub {
  width: 3.02083333vw;
  height: 0.98958333vw;
  color: #132d44;
  text-align: center;
  line-height: 0.98958333vw;
  background: url(../../assets/img/xq-chaxun.png) no-repeat;
  background-size: 100% 100%;
}
#sel .type-wrap {
  height: 2.8125vw;
  padding-left: 2.08333333vw;
  display: flex;
  align-items: center;
}
#sel .type-wrap .item {
  width: 7.08333333vw;
  height: 0.83333333vw;
  line-height: 0.83333333vw;
  display: flex;
  font-size: 0.625vw;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
#sel .type-wrap .item i {
  width: 0.83333333vw;
  height: 0.83333333vw;
  margin-right: 0.78125vw;
  background: url(../../assets/img/xq-select.png) no-repeat;
  background-size: 100% 100%;
}
#sel .type-wrap .selected {
  color: #fff;
}
#sel .type-wrap .selected i {
  background: url(../../assets/img/xq-sellected.png) no-repeat;
  background-size: 100% 100%;
}
#sel .jg-wrap {
  padding-left: 2.08333333vw;
  padding-top: 0.83333333vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#sel .jg-wrap .item {
  width: 10.41666667vw;
  height: 0.9375vw;
  line-height: 0.9375vw;
  font-size: 0.72916667vw;
  margin-bottom: 0.83333333vw;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#sel .jg-wrap .item i {
  display: inline-block;
  width: 0.83333333vw;
  height: 0.83333333vw;
  transform: translateY(1px);
  margin-right: 0.78125vw;
  background: url(../../assets/img/xq-select.png) no-repeat;
  background-size: 100% 100%;
}
#sel .jg-wrap .selected {
  color: #fff;
}
#sel .jg-wrap .selected i {
  background: url(../../assets/img/xq-sellected.png) no-repeat;
  background-size: 100% 100%;
}
#sel .sub-wrap {
  width: 100%;
  height: 2.60416667vw;
  position: relative;
}
#sel .sub-wrap .sub {
  position: absolute;
  cursor: pointer;
  width: 6.77083333vw;
  height: 1.5625vw;
  color: #132d44;
  text-align: center;
  line-height: 1.5625vw;
  right: 1.04166667vw;
  background: url(../../assets/img/xq-sub.png) no-repeat;
  background-size: 100% 100%;
}
#sel .fenxi {
  position: absolute;
  right: 1.04166667vw;
  top: 1.04166667vw;
  width: 2.08333333vw;
  height: 1.5625vw;
  background: #ccc;
  cursor: pointer;
}
.list {
  font-size: 0.72916667vw;
  width: 100%;
  height: 22.91666667vw;
  margin-top: 1.35416667vw;
  color: #fff;
}
.list .title {
  box-sizing: border-box;
  width: 100%;
  height: 2.91666667vw;
  color: #11abf0;
  display: flex;
  font-size: 0.83333333vw;
  background: rgba(44, 86, 120, 0.5);
}
.list .title span {
  width: 16%;
  height: 100%;
  line-height: 2.91666667vw;
  text-align: center;
  font-size: 0.83333333vw;
}
.list .title span i {
  display: inline-block;
  width: 1.35416667vw;
  height: 1.35416667vw;
  margin-right: 0.41666667vw;
  vertical-align: middle;
  transform: translateY(-2px);
}
.list .title span:nth-child(1) i {
  background: url(../../assets/img/list-icon7.png) no-repeat;
  background-size: 100% 100%;
}
.list .title span:nth-child(2) i {
  background: url(../../assets/img/list-icon2.png) no-repeat;
  background-size: 100% 100%;
}
.list .title span:nth-child(3) i {
  background: url(../../assets/img/list-icon4.png) no-repeat;
  background-size: 100% 100%;
}
.list .title span:nth-child(4) i {
  background: url(../../assets/img/list-icon3.png) no-repeat;
  background-size: 100% 60%;
  background-position-y: 0.26041667vw;
}
.list .title span:nth-child(5) i {
  background: url(../../assets/img/list-icon1.png) no-repeat;
  background-size: 100% 100%;
}
.list .title span:nth-child(5) i:nth-last-child(1) {
  background: url(../../assets/img/list-icon6.png) no-repeat;
  background-size: 100% 100%;
}
.list .title span:nth-child(6) i {
  background: url(../../assets/img/list-icon5.png) no-repeat;
  background-size: 100% 100%;
}
.list .scroll {
  height: 21.35416667vw;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.list .scroll .item {
  width: 100%;
  height: 2.91666667vw;
  display: flex;
  border-top: none;
}
.list .scroll .item span {
  width: 16%;
  height: 100%;
  line-height: 2.91666667vw;
  text-align: center;
  font-size: 0.72916667vw;
}
.list .scroll .item:nth-child(even) {
  background: rgba(44, 86, 120, 0.5);
}
.list .scroll .item:nth-child(odd) {
  background: rgba(19, 43, 62, 0.5);
}
.list .scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 3px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.list .scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: #0f429d;
}
.list .scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: #207aaf;
}
.wrap::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 1px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.wrap::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.wrap::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
