div {
  box-sizing: border-box;
  font-size: 0.83333333vw;
}
.wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.wrap::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.wrap::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.wrap::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
#sel {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  padding-top: 1.04166667vw;
  border: 0.10416667vw solid #3391c7;
  position: relative;
}
#sel .fenxiduibi {
  position: absolute;
  top: 2.08333333vw;
  right: 1.25vw;
  width: 5.52083333vw;
  height: 2.34375vw;
  font-size: 0.83333333vw;
  color: #fff;
  text-align: center;
  line-height: 2.34375vw;
  background: url(../../../assets/img/duibi.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
#sel .jiao {
  position: absolute;
  width: 1.04166667vw;
  height: 1.04166667vw;
  border: none;
  background: url(../../../assets/img/jiao.png) no-repeat;
  background-size: cover;
}
#sel .jiao:nth-of-type(1) {
  top: -0.20833333vw;
  left: -0.15625vw;
}
#sel .jiao:nth-of-type(2) {
  top: -0.20833333vw;
  right: -0.15625vw;
  transform: rotate(90deg);
}
#sel .jiao:nth-of-type(3) {
  bottom: -0.15625vw;
  right: -0.15625vw;
  transform: rotate(180deg);
}
#sel .jiao:nth-of-type(4) {
  bottom: -0.15625vw;
  left: -0.15625vw;
  transform: rotate(270deg);
}
#sel .items {
  position: relative;
}
#sel .title {
  width: 11.97916667vw;
  height: 1.77083333vw;
  line-height: 1.77083333vw;
  color: #fff;
  font-size: 0.72916667vw;
  background: url(../../../assets/img/xq-title.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  margin-left: 0.83333333vw;
}
#sel .title span {
  width: 1.04166667vw;
  height: 1.04166667vw;
  margin: 0 1.04166667vw;
  background: url(../../../assets/img/xq-icon2.png) no-repeat;
  background-size: cover;
}
#sel .items:nth-child(6) span {
  background: url(../../../assets/img/xq-baojin.png) no-repeat;
  background-size: cover;
}
#sel .items:nth-child(7) span {
  background: url(../../../assets/img/xq-icon1.png) no-repeat;
  background-size: cover;
}
#sel .sel-wrap {
  height: 2.8125vw;
  padding-left: 2.08333333vw;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}
#sel .sel-wrap input {
  box-sizing: border-box;
  width: 8.33333333vw;
  height: 1.04166667vw;
  border: 0.05208333vw solid #a9b3bb;
  border-radius: 0.15625vw;
  background: none;
  line-height: 1.04166667vw;
  color: #cfc8c8;
  margin: 0 1.14583333vw;
}
#sel .sel-wrap .sub {
  width: 3.02083333vw;
  height: 0.98958333vw;
  color: #132d44;
  text-align: center;
  line-height: 0.98958333vw;
  background: url(../../../assets/img/xq-chaxun.png) no-repeat;
  background-size: 100% 100%;
}
#sel .type-wrap {
  height: 2.8125vw;
  padding-left: 2.08333333vw;
  display: flex;
  align-items: center;
}
#sel .type-wrap .item {
  width: 7.08333333vw;
  height: 0.83333333vw;
  line-height: 0.83333333vw;
  display: flex;
  font-size: 0.625vw;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
#sel .type-wrap .item i {
  width: 0.83333333vw;
  height: 0.83333333vw;
  margin-right: 0.78125vw;
  background: url(../../../assets/img/xq-select.png) no-repeat;
  background-size: 100% 100%;
}
#sel .type-wrap .selected {
  color: #fff;
}
#sel .type-wrap .selected i {
  background: url(../../../assets/img/xq-sellected.png) no-repeat;
  background-size: 100% 100%;
}
#sel .jg-wrap {
  padding-left: 2.08333333vw;
  padding-top: 0.83333333vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#sel .jg-wrap .item {
  width: 10.41666667vw;
  height: 0.9375vw;
  line-height: 0.9375vw;
  font-size: 0.72916667vw;
  margin-bottom: 0.83333333vw;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#sel .jg-wrap .item i {
  display: inline-block;
  width: 0.83333333vw;
  height: 0.83333333vw;
  transform: translateY(1px);
  margin-right: 0.78125vw;
  background: url(../../../assets/img/xq-select.png) no-repeat;
  background-size: 100% 100%;
}
#sel .jg-wrap .selected {
  color: #fff;
}
#sel .jg-wrap .selected i {
  background: url(../../../assets/img/xq-sellected.png) no-repeat;
  background-size: 100% 100%;
}
#sel .sub-wrap {
  width: 100%;
  height: 2.60416667vw;
  position: relative;
}
#sel .sub-wrap .sub {
  position: absolute;
  cursor: pointer;
  width: 6.77083333vw;
  height: 1.5625vw;
  color: #132d44;
  text-align: center;
  line-height: 1.5625vw;
  right: 1.04166667vw;
  background: url(../../../assets/img/xq-sub.png) no-repeat;
  background-size: 100% 100%;
}
#second {
  width: 100%;
  height: 21.35416667vw;
  margin-top: 1.5625vw;
  display: flex;
  justify-content: space-between;
}
#second > div {
  width: 42.70833333vw;
  height: 20.83333333vw;
  background: url(../../../assets/img/xq-bg.png) no-repeat;
  background-size: 100% 100%;
}
#second > div .n {
  width: 15.625vw;
  height: 2.76041667vw;
  margin: 0.52083333vw auto 0;
  line-height: 2.76041667vw;
  text-align: center;
  font-size: 1.04166667vw;
  color: #fff;
}
#second > div .c {
  width: 39.58333333vw;
  height: 17.1875vw;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
}
#second > div .c > div {
  width: 100%;
  height: 100%;
}
#second .left .tit {
  height: 2.39583333vw;
  line-height: 2.39583333vw;
  width: 34.6875vw;
  margin: 0.78125vw auto 0;
  border-bottom: 0.05208333vw solid #3a6785;
  display: flex;
}
#second .left .tit span {
  width: 25%;
  text-align: center;
}
#second .right #echart-new1 {
  width: 100%;
  height: 100%;
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.cover .alert {
  width: 51.04166667vw;
  height: 34.375vw;
  background: url(../../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.cover .alert button {
  position: absolute;
  right: 1.35416667vw;
  top: 1.35416667vw;
  width: 1.82291667vw;
  height: 1.82291667vw;
  background: none;
  border: 0.05208333vw solid #295b7c;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1.82291667vw;
  cursor: pointer;
}
.cover .alert .buzou {
  position: absolute;
  left: 9.375vw;
  top: 6.25vw;
  width: 31.35416667vw;
  height: 3.22916667vw;
  background: url(../../../assets/img/buzou1.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert .title {
  position: absolute;
  left: 8.22916667vw;
  top: 13.02083333vw;
  width: 18.75vw;
  height: 2.91666667vw;
  line-height: 2.91666667vw;
  padding-left: 5vw;
  font-size: 0.9375vw;
  color: #fff;
  background: url(../../../assets/img/xq-title.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert .title i {
  position: absolute;
  left: 2.08333333vw;
  top: 0.78125vw;
  box-sizing: border-box;
  width: 1.66666667vw;
  height: 1.5625vw;
  background: url(../../../assets/img/xq-icon1.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert .selwrap {
  position: absolute;
  left: 10.41666667vw;
  top: 17.70833333vw;
  width: 29.16666667vw;
  height: 2.08333333vw;
  font-size: 0.9375vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover .alert .selwrap input {
  box-sizing: border-box;
  width: 8.95833333vw;
  height: 1.875vw;
  border: 0.05208333vw solid #939ba3;
  border-radius: 0.15625vw;
  background: none;
  color: #fff;
}
.cover .alert .sub {
  width: 4.6875vw;
  height: 1.5625vw;
  font-size: 0.83333333vw;
  color: #000;
  text-align: center;
  line-height: 1.5625vw;
  background: url(../../../assets/img/xq-chaxun.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert .next {
  position: absolute;
  bottom: 0.26041667vw;
  right: 6.25vw;
  width: 8.33333333vw;
  height: 1.35416667vw;
  font-size: 0.83333333vw;
  text-align: center;
  line-height: 1.35416667vw;
  cursor: pointer;
}
.cover .alert2,
.cover .alert3,
.cover .alert4,
.cover .alert5 {
  width: 51.04166667vw;
  height: 34.375vw;
  background: url(../../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.cover .alert2 button {
  position: absolute;
  right: 1.35416667vw;
  top: 1.35416667vw;
  width: 1.82291667vw;
  height: 1.82291667vw;
  background: none;
  border: 0.05208333vw solid #295b7c;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1.82291667vw;
  cursor: pointer;
}
.cover .alert2 .buzou {
  position: absolute;
  left: 9.375vw;
  top: 6.25vw;
  width: 31.35416667vw;
  height: 3.22916667vw;
  background: url(../../../assets/img/buzou2.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert2 .title {
  position: absolute;
  left: 8.22916667vw;
  top: 13.02083333vw;
  width: 18.75vw;
  height: 2.91666667vw;
  line-height: 2.91666667vw;
  padding-left: 5vw;
  font-size: 0.9375vw;
  color: #fff;
  background: url(../../../assets/img/xq-title.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert2 .title i {
  position: absolute;
  left: 2.08333333vw;
  top: 0.625vw;
  box-sizing: border-box;
  width: 1.66666667vw;
  height: 1.5625vw;
  background: url(../../../assets/img/guiji-icon7.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert2 .typewrap {
  position: absolute;
  left: 9.79166667vw;
  top: 17.70833333vw;
  width: 41.14583333vw;
  height: 5.20833333vw;
  display: flex;
  flex-wrap: wrap;
}
.cover .alert2 .typewrap .item {
  width: 10vw;
  height: 1.5625vw;
  line-height: 1.5625vw;
  color: #94999f;
  cursor: pointer;
}
.cover .alert2 .typewrap .item i {
  float: left;
  width: 1.35416667vw;
  height: 1.35416667vw;
  margin-right: 1.45833333vw;
  background: url(../../../assets/img/xq-select.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert2 .typewrap .selected {
  color: #fff;
}
.cover .alert2 .typewrap .selected i {
  background: url(../../../assets/img/xq-sellected.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert2 .next {
  position: absolute;
  bottom: 0.26041667vw;
  right: 6.25vw;
  width: 8.33333333vw;
  height: 1.35416667vw;
  font-size: 0.83333333vw;
  text-align: center;
  line-height: 1.35416667vw;
  cursor: pointer;
}
.cover .alert3 button {
  position: absolute;
  right: 1.35416667vw;
  top: 1.35416667vw;
  width: 1.82291667vw;
  height: 1.82291667vw;
  background: none;
  border: 0.05208333vw solid #295b7c;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1.82291667vw;
  cursor: pointer;
}
.cover .alert3 .buzou {
  position: absolute;
  left: 9.375vw;
  top: 6.25vw;
  width: 31.35416667vw;
  height: 3.22916667vw;
  background: url(../../../assets/img/buzou3.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert3 .titlenew {
  position: absolute;
  left: 8.22916667vw;
  top: 25.52083333vw;
  width: 18.75vw;
  height: 2.91666667vw;
  line-height: 2.91666667vw;
  padding-left: 5vw;
  font-size: 0.9375vw;
  color: #fff;
  background: url(../../../assets/img/xq-title.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert3 .selwrap {
  position: absolute;
  left: 10.41666667vw;
  top: 29.6875vw;
  width: 15.625vw;
  height: 2.08333333vw;
  font-size: 0.9375vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover .alert3 .selwrap input {
  box-sizing: border-box;
  width: 8.95833333vw;
  height: 1.875vw;
  border: 0.05208333vw solid #939ba3;
  border-radius: 0.15625vw;
  background: none;
  color: #fff;
}
.cover .alert3 .title {
  position: absolute;
  left: 8.22916667vw;
  top: 10.9375vw;
  width: 18.75vw;
  height: 2.91666667vw;
  line-height: 2.91666667vw;
  padding-left: 5vw;
  font-size: 0.9375vw;
  color: #fff;
  background: url(../../../assets/img/xq-title.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert3 .title i {
  position: absolute;
  left: 2.08333333vw;
  top: 0.625vw;
  box-sizing: border-box;
  width: 1.66666667vw;
  height: 1.5625vw;
  background: url(../../../assets/img/xq-icon1.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert3 .typewrap {
  position: absolute;
  left: 9.79166667vw;
  top: 14.0625vw;
  width: 40.625vw;
  height: 10.41666667vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}
.cover .alert3 .typewrap .item {
  width: 13.02083333vw;
  height: 1.5625vw;
  line-height: 1.5625vw;
  margin-top: 1.04166667vw;
  color: #94999f;
  cursor: pointer;
}
.cover .alert3 .typewrap .item i {
  float: left;
  width: 1.35416667vw;
  height: 1.35416667vw;
  margin-right: 1.45833333vw;
  background: url(../../../assets/img/xq-select.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert3 .typewrap .selected {
  color: #fff;
}
.cover .alert3 .typewrap .selected i {
  background: url(../../../assets/img/xq-sellected.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert3 .typewrap::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.cover .alert3 .typewrap::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.cover .alert3 .typewrap::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.cover .alert3 .next {
  position: absolute;
  bottom: 0.26041667vw;
  right: 6.25vw;
  width: 8.33333333vw;
  height: 1.35416667vw;
  font-size: 0.83333333vw;
  text-align: center;
  line-height: 1.35416667vw;
  cursor: pointer;
}
.cover .alert4 button {
  position: absolute;
  right: 1.35416667vw;
  top: 1.35416667vw;
  width: 1.82291667vw;
  height: 1.82291667vw;
  background: none;
  border: 0.05208333vw solid #295b7c;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1.82291667vw;
  cursor: pointer;
}
.cover .alert4 .next {
  position: absolute;
  bottom: 0.26041667vw;
  right: 6.25vw;
  width: 8.33333333vw;
  height: 1.35416667vw;
  font-size: 0.83333333vw;
  text-align: center;
  line-height: 1.35416667vw;
  cursor: pointer;
}
.cover .alert4 #dbchart {
  position: absolute;
  top: 3.64583333vw;
  left: 0.52083333vw;
  width: 50vw;
  height: 19.79166667vw;
}
.cover .alert4 p {
  position: absolute;
  top: 23.4375vw;
  left: 3.125vw;
  font-size: 0.9375vw;
  color: #c9c6d6;
}
.cover .alert4 .text {
  position: absolute;
  top: 23.95833333vw;
  left: 3.125vw;
  width: 44.79166667vw;
  height: 6.77083333vw;
  margin-top: 0.52083333vw;
  font-size: 0.9375vw;
  line-height: 1.5625vw;
  font-family: "新宋体";
  color: #f0f1f2;
  letter-spacing: 0.15625vw;
  overflow-x: hidden;
  overflow-y: auto;
  text-shadow: 0px 0px 3px #22d5ec;
}
.cover .alert4 .text::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.cover .alert4 .text::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.cover .alert4 .text::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
