@keyframes roundleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes roundright {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.none-data {
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 0.2rem;
  background: rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  border-radius: 0.2rem;
}
.main {
  box-sizing: border-box;
  padding: 0 2.2%;
  width: 100%;
  height: 100%;
  font-size: 0.83333333vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}
.main .item_miao {
  width: 32%;
  height: 12.13541667vw;
  margin: 0.18518519vh 0.6%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background: url(../../../assets/img/itwm-miao-bg.png) no-repeat center center;
  background-size: 100% 100%;
}
.main .item_miao .check {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 0.2rem;
  height: 0.2rem;
  display: none;
  z-index: 1;
}
.main .item_miao .center {
  position: absolute;
  right: 0;
  bottom: 0.1rem;
  left: 0;
  margin: auto;
  width: 1.4rem;
  height: 1.4rem;
}
.main .item_miao .center .round1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../../../assets/img/qm-r2.png) no-repeat;
  background-size: 100% 100%;
  animation: roundleft 3s infinite alternate;
}
.main .item_miao .center .round2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1.05rem;
  height: 1.05rem;
  background: url(../../../assets/img/qm-r1.png) no-repeat;
  background-size: 100% 100%;
  animation: roundright 5s linear infinite;
}
.main .item_miao .center .qm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0.6rem;
  height: 0.45rem;
  background: url(../../../assets/img/qm-item-bg.png) no-repeat center;
  background-size: 100% 100%;
}
.main .item_miao .center .title_left {
  position: absolute;
  width: 1rem;
  height: 0.5rem;
}
.main .item_miao .center .title_left .text {
  position: absolute;
  margin-left: -50%;
  width: 2rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
}
.main .item_miao .center .title_left .bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.8rem;
  height: 0.26rem;
  background: url(../../../assets/img/qm-l.png) no-repeat;
  background-size: 100% 100%;
}
.main .item_miao .center .title_left:nth-child(4) {
  top: -0.45rem;
  left: -0.54rem;
}
.main .item_miao .center .title_left:nth-child(5) {
  top: -0.1rem;
  left: -0.93rem;
}
.main .item_miao .center .title_left:nth-child(6) {
  top: 0.3rem;
  left: -1rem;
}
.main .item_miao .center .title_left:nth-child(7) {
  top: 0.7rem;
  left: -0.9rem;
}
.main .item_miao .center .title_right {
  position: absolute;
  width: 1rem;
  height: 0.5rem;
}
.main .item_miao .center .title_right .text {
  position: absolute;
  width: 2rem;
  height: 0.3rem;
  line-height: 0.3rem;
  margin-left: -50%;
  text-align: center;
}
.main .item_miao .center .title_right .jiebang {
  color: red;
}
.main .item_miao .center .title_right .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0.8rem;
  height: 0.26rem;
  background: url(../../../assets/img/qm-r.png) no-repeat;
  background-size: 100% 100%;
}
.main .item_miao .center .title_right:nth-child(8) {
  right: -0.5rem;
  top: -0.45rem;
}
.main .item_miao .center .title_right:nth-child(8) .text {
  width: 1rem;
  left: 0;
  right: 0;
  margin: auto;
}
.main .item_miao .center .title_right:nth-child(9) {
  right: -0.9rem;
  top: -0.1rem;
}
.main .item_miao .center .title_right:nth-child(10) {
  right: -1rem;
  top: 0.3rem;
  cursor: pointer;
}
.main .item_miao .center .title_right:nth-child(11) {
  right: -0.83rem;
  top: 0.75rem;
}
.main .item_miao .center .title_right:nth-child(11) .text {
  margin-left: -0.33rem;
}
.main .item_miao .content {
  position: absolute;
  left: 2.44791667vw;
  top: 3.48958333vw;
  width: 83%;
  height: 6.25vw;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.main .item_miao .content .item {
  width: 33%;
  height: 33.3%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  white-space: nowrap;
}
.main .item_miao .content .item:nth-child(7) {
  cursor: pointer;
}
.main .item_miao .content .item:nth-child(3) {
  cursor: pointer;
}
.main .item_miao .content .item:nth-child(5) {
  cursor: pointer;
}
.main .item_miao .content .item:nth-child(6) p {
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .item_miao .content .item:first-child {
  cursor: pointer;
}
.main .item_miao .content .item:first-child p {
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .item_miao .content .item:last-of-type {
  width: 45%;
}
.main::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.main::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(9, 94, 221, 0.945);
  background: rgba(20, 3, 177, 0.9);
}
.main::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(12, 203, 209, 0.6);
  border-radius: 0;
  background: rgba(9, 247, 207, 0.8);
}
.zhezhao {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.alert1 {
  position: absolute;
  width: 60%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 0.18rem;
  line-height: 0.5rem;
}
.alert2 {
  position: absolute;
  box-sizing: border-box;
  padding-top: 0.5rem;
  width: 53%;
  height: 39.58333333vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
}
.alert2 .del {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.2rem;
  color: #fff;
  border: 0.01rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.alert2 #dianchi {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem 0 0 0.2rem;
}
.alert2 .message {
  width: 4rem;
  height: 2rem;
  padding-left: 2.60416667vw;
  line-height: 0.4rem;
  font-size: 0.2rem;
}
.alert2 .t1 {
  position: absolute;
  width: 18.22916667vw;
  text-align: left;
  left: 2.08333333vw;
  top: 0.9rem;
  font-size: 1.5625vw;
}
.alert2 .t {
  position: absolute;
  width: 28.64583333vw;
  text-align: left;
  right: 0;
  top: 0.9rem;
  font-size: 1.5625vw;
}
.alert2 #chart2 {
  position: absolute;
  right: 0;
  top: 0.6rem;
  width: 6rem;
  height: 5rem;
}
.alert2 .title {
  position: absolute;
  right: 0.2rem;
  top: 5rem;
  width: 5.8rem;
  height: 0.3rem;
  background: rgba(3, 38, 68, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.alert2 .title span {
  text-align: center;
  line-height: 0.3rem;
}
.alert2 .listwrap {
  position: absolute;
  right: 0.2rem;
  top: 5.3rem;
  width: 5.8rem;
  height: 1.6rem;
  overflow-x: hidden;
  overflow-y: hidden;
}
.alert2 .listwrap .list {
  position: absolute;
  top: 0;
  left: 0;
}
.alert2 .listwrap .list .item {
  width: 5.8rem;
  height: 0.3rem;
  background: rgba(3, 38, 68, 0.07);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.alert2 .listwrap .list .item span {
  text-align: center;
  line-height: 0.3rem;
}
.alert3 {
  position: absolute;
  width: 70%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../../../assets/img/round-bg.png) no-repeat;
  background-size: 100% 100%;
}
.alert3 .t {
  font-size: 0.3rem;
  width: 100%;
  line-height: 1.3rem;
  text-align: center;
}
.alert3 .put1 {
  width: 4rem;
  height: 0.4rem;
  margin-left: 50%;
  text-indent: 0.2rem;
  font-size: 0.18rem;
  transform: translateX(-50%);
}
.alert3 .list {
  width: 80%;
  height: 60%;
  margin: 0.3rem auto 0 auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
}
.alert3 .list .item {
  position: relative;
  width: 30%;
  height: 9%;
  margin-top: 0.05rem;
  margin-right: 1%;
  margin-left: 2%;
  font-size: 0.16rem;
  text-indent: 0.2rem;
  line-height: 0.46rem;
  border-radius: 0.06rem;
  white-space: nowrap;
  background: #005cc8;
}
.alert3 .list .shadow {
  box-shadow: 0 0 1px 1px red;
}
.alert3 .list .no-data {
  font-size: 0.18rem;
  line-height: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.alert3 .list::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.alert3 .list::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(9, 94, 221, 0.945);
  background: rgba(20, 3, 177, 0.9);
}
.alert3 .list::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(12, 203, 209, 0.6);
  border-radius: 0;
  background: rgba(9, 247, 207, 0.8);
}
.alert3 .btn {
  margin-top: 0.1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 0.16rem;
  padding: 0.05rem;
  border-radius: 0.05rem;
}
.map_wrap {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
}
.map_wrap .del {
  position: absolute;
  right: 0.2rem;
  top: 0.13rem;
  width: 0.3rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.2rem;
  color: #fff;
  border: 0.01rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.map_wrap .close {
  position: absolute;
  right: 1.05rem;
  bottom: 0.06rem;
  width: 1.7rem;
  height: 0.3rem;
  font-size: 0.18rem;
  background: none;
  color: #fff;
  cursor: pointer;
}
.map_wrap .no {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 60%;
  height: 10%;
  text-align: center;
}
.map_wrap #map_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 98%;
  height: 88%;
}
.alert1 .close,
.alert3 .close {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  width: 0.4rem;
  height: 0.4rem;
  background: #f04d4d;
  color: #fff;
  border-radius: 50%;
}
.alert2 .close {
  position: absolute;
  right: 1.05rem;
  bottom: 0.06rem;
  width: 1.7rem;
  height: 0.3rem;
  font-size: 0.18rem;
  background: none;
  color: #fff;
  cursor: pointer;
}
.fensug {
  width: 168px;
  height: 168px;
  background: #fff;
  border: 9px #5576ac solid;
  margin: 100px auto;
  padding: 5px;
  -webkit-border-radius: 25em;
  -moz-border-radius: 25em;
  border-radius: 25em;
  overflow: hidden;
  position: relative;
}
.fensug .wavenum {
  width: 168px;
  height: 168px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fensug .wavenum b {
  color: #fff;
  font-size: 43px;
  text-align: center;
  display: block;
  position: relative;
  z-index: 2;
  line-height: 45px;
}
.fensug .wavenum tt {
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: block;
  position: relative;
  z-index: 2;
  font-weight: bold;
  width: 140px;
  border-top: 2px #fff solid;
  margin: 3px auto;
  line-height: 35px;
}
.one-data {
  width: 21.5625vw;
  height: 11.14583333vw;
  background: url(../../../assets/img/miao-bg.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 1.6%;
  margin-right: 3%;
  margin-left: 1.8%;
  position: relative;
  font-size: 0.72916667vw;
  color: #fff;
}
.one-data .check {
  position: absolute;
  top: 0.04rem;
  left: 0.04rem;
  width: 0.15rem;
  height: 0.15rem;
  z-index: 9;
  cursor: pointer;
}
.one-data .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  padding: 0.36458333vw 0 0.44791667vw 0.625vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.one-data .left .l1,
.one-data .left .l2,
.one-data .left .l3,
.one-data .left .l4 {
  width: 7.29166667vw;
  height: 1.5625vw;
  line-height: 1.5625vw;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding-left: 0.26041667vw;
}
.one-data .left .l1,
.one-data .left .l3 {
  cursor: pointer;
  text-decoration: underline;
}
.one-data .left .l2,
.one-data .left .l3 {
  width: 6.04166667vw;
}
.one-data .center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 7.29166667vw;
  height: 7.29166667vw;
}
.one-data .center .down {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(../../../assets/img/miao-r1.png) no-repeat;
  background-size: 100% 100%;
  animation: roundright 2s linear infinite;
}
.one-data .center .up {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 83%;
  height: 83%;
  margin: auto;
  background: url(../../../assets/img/miao-r2.png) no-repeat;
  background-size: 100% 100%;
  animation: roundleft 3s linear infinite;
}
.one-data .center .m {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2.60416667vw;
  height: 2.60416667vw;
  background-size: 100%;
  background-position-y: 0.26041667vw;
}
.one-data .center .m img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.one-data .center .m.buzaixian {
  filter: opacity(20%);
}
.one-data .right {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  z-index: 0.1;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0.88541667vw 0.625vw 0.05208333vw 0;
}
.one-data .right .r1,
.one-data .right .r2,
.one-data .right .r3,
.one-data .right .r4 {
  width: 7.29166667vw;
  height: 1.5625vw;
  line-height: 1.5625vw;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding-right: 0.15625vw;
  padding-left: 0.10416667vw;
}
.one-data .right .r3 {
  cursor: pointer;
  text-decoration: underline;
}
.one-data .right .r2,
.one-data .right .r3 {
  width: 6.14583333vw;
}
.one-data:nth-of-type(3) {
  margin-right: 0;
}
.one-data:nth-of-type(6) {
  margin-right: 0;
}
.one-data:nth-of-type(9) {
  margin-right: 0;
}
.one-data:nth-child(7) {
  margin-bottom: 0;
}
.one-data:nth-child(8) {
  margin-bottom: 0;
}
.one-data:nth-child(9) {
  margin-bottom: 0;
}
.green {
  color: #99f308;
}
