.edit_mian {
  width: 46.875vw;
  height: 48.61111111vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1.38888889vh 0 0 2.60416667vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 15.55555556vh);
  justify-items: center;
  align-items: center;
}
.edit_mian .edit_item {
  box-sizing: border-box;
  width: 7.78645833vw;
  height: 13.10185185vh;
  margin: 1.15740741vh 0;
  border: 0.10416667vw solid #304b67;
  padding: 0.46296296vh 0.26041667vw;
}
.edit_mian .edit_item .edit_full {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(115, 167, 230, 0.1);
}
.edit_mian .edit_item .edit_full .edit_state {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.66666667vw;
  height: 1.2962963vh;
  background: url(../../assets/qianggui/zaiwei_zai.png) no-repeat;
  background-size: 100% 100%;
}
.edit_mian .edit_item .edit_full .edit_state.buzai {
  background-image: url(../../assets/qianggui/zaiwei_buzai.png);
}
.edit_mian .edit_item .edit_full .edit_img_wrap {
  width: 6.25vw;
  height: 4.62962963vh;
  margin: 0 auto 0.46296296vh;
  background: url(../../assets/qianggui/path.png) no-repeat center bottom;
  background-size: 100% 1.48148148vh;
  text-align: center;
  overflow: hidden;
}
.edit_mian .edit_item .edit_full .edit_img_wrap img {
  width: 70%;
  margin-top: 0.46296296vh;
}
.edit_mian .edit_item .edit_full .edit_floor {
  box-sizing: border-box;
  padding: 0 0.46875vw;
  line-height: 2.08333333vh;
  color: #fff;
}
.edit_mian .edit_item .edit_full .edit_floor i {
  font-weight: 700;
  color: #8ecfff;
}
.edit_mian .edit_item .edit_full .edit_number {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.22222222vh;
  line-height: 2.22222222vh;
  color: #fff;
  text-align: center;
  background: url(../../assets/qianggui/jihao.png) no-repeat;
  background-size: 100% 100%;
}
.edit_mian::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.edit_mian::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.edit_mian::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
