@rem: 100rem;

@keyframes move {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(-60%)
  }
}

@keyframes zhuan {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

#header {
  width: 100%;
  height: 157/@rem;
  display: flex;

  flex-wrap: wrap;

  .logo {
    img {
      width: 140/@rem;
      margin-top: 20/@rem;
      margin-left: 25/@rem;
    }
  }

  .nav_wrap {

    width: 1680/@rem;

    .nav-btns {
      width: 100%;
      display: flex;
      justify-content: space-between;

    }
  }

  .nav {
    width: 1275/@rem;
    height: 56/@rem;
    cursor: pointer;
    margin-top: 42/@rem;
    margin-left: -18/@rem;
    background: url(../assets/img/tab-bg.png) no-repeat;
    background-size: 1275/@rem 56/@rem;
    display: flex;
    padding-left: 15/@rem;

    .item {
      //    width:100/@rem;
      min-width: 90/@rem;
      margin: 0 2/@rem;
      position: relative;

      p:nth-child(1) {
        position: absolute;
        height: 50%;
        width: 100%;
        text-align: center;
        color: #8ed0ff;
        line-height: 30/@rem;
        font-size: 16/@rem;

      }

      p:nth-child(2) {
        position: absolute;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) scaleX(0.5);
        font-size: 16/@rem;
        line-height: 30/@rem;
        color: #a5a490;
        text-align: center;
      }

      &.active {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 -2px 2px #e07e27;

        p {
          color: #fff;
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 -2px 2px #e07e27;

        p {
          color: #fff;
        }
      }
    }

  }

  .btns {
    width: 560/@rem;
    height: 40/@rem;
    margin-top: 40/@rem;
    display: flex;
    justify-content: flex-end;

    span {
      width: 49/@rem;
      height: 49/@rem;
      transition: 0.1s;
      margin: 10/@rem;
      border-radius: 50%;
      cursor: pointer;
    }


  
    span:nth-last-child(7){
      background: url('../assets/img/peizhi.png');
      font-size: 12px;
      line-height: 49/@rem;
      text-align: center;
      background-size: cover;
    }
    span:nth-last-child(6){
      background: url('../assets/img/tongbu.png');
      background-size: cover;
    }
    span:nth-last-child(6):hover {
      animation: zhuan 3s linear infinite;
    }

    span:nth-last-child(5) {
      background: url('../assets/img/icon6.png');
      background-size: cover;

    }
  
   
    span:nth-last-child(4){
      background: url('../assets/img/icon22.png');
      background-size: cover
    }
   
    span:nth-last-child(3){
      background: url('../assets/img/icon2.png');
      background-size: cover
    }
   
    span:nth-last-child(2){
      background: url('../assets/img/mine.png');
      background-size: cover
    }

    span:nth-last-child(1){
      background: url('../assets/img/icon5.png');
      background-size: cover
    }
 
    span:hover {
      box-shadow: 0 0 5px 2px rgb(62, 148, 228);
      transform: scale(1.1) translate3d(0, 0, 0);

    }

    .active {
      box-shadow: 0 0 5px 2px rgb(62, 148, 228);
      transform: scale(1.1) translate3d(0, 0, 0);
    }

  }

  .title {
    width: 340/@rem;
    height: 40/@rem;
    line-height: 40/@rem;
    margin-top: 8/@rem;
    margin-left: 20/@rem;
    font-size: 26/@rem;
    // background: blue;
    display: flex;
    font-weight: bold;

    p:nth-child(1) {
      color: #3691c8;
    }

    p:nth-child(2) {
      color: #fffffd
    }
  }
}

#content {
  position: absolute;
  left: 160/@rem;
  top: 17.1vh;
  height: 78.5vh;
  width: 1690/@rem;
}

@keyframes lineMove1 {
  from {
    left: -50/@rem;
  }

  to {
    left: 350/@rem;
  }
}

@keyframes lineMove2 {
  from {
    top: -50/@rem;
  }

  to {
    top: 100%;
  }
}

@keyframes lineMove3 {
  from {
    right: -50/@rem;
  }

  to {
    right: 350/@rem;
  }
}

@keyframes lineMove4 {
  from {
    bottom: -50/@rem;
  }

  to {
    bottom: 100%;
  }
}

.mine-message {
  position: fixed;
  z-index: 99999;
  right: 0;
  top: 150/@rem;
  width: 300/@rem;
  height: 60%;
  background: rgb(32, 109, 155);
  box-shadow: inset 0 0 0 3px rgba(97, 156, 86, 1), inset 0 0 0 13px rgb(32, 109, 155), inset 0 0 0 18px rgba(97, 156, 186, 1);
  transition: 0.5s;
  border-radius: 10/@rem;
  overflow: hidden;

  .line1 {
    position: absolute;
    left: -50/@rem;
    width: 50/@rem;
    height: 3px;
    background: #34fdf6;
    animation: lineMove1 3s linear infinite;
  }

  .line2 {
    position: absolute;
    top: -50/@rem;
    right: 0;
    width: 3px;
    height: 50/@rem;
    background: #34fdf6;
    animation: lineMove2 3s linear infinite;
  }

  .line3 {
    position: absolute;
    right: -50/@rem;
    bottom: 0;
    width: 50/@rem;
    height: 3px;
    background: #34fdf6;
    animation: lineMove3 3s linear infinite;
  }

  .line4 {
    position: absolute;
    left: 0;
    bottom: -50/@rem;
    width: 3px;
    height: 50/@rem;
    background: #34fdf6;
    animation: lineMove4 3s linear infinite;
  }

  .imgwrap {
    width: 100/@rem;
    height: 100/@rem;
    margin: 20/@rem auto;
    border-radius: 50/@rem;
    overflow: hidden;

    img {
      width: 100/@rem;
      // height:100/@rem;
      // margin:20/@rem;
      // margin-left:50%;
      // border-radius: 9/@rem;
      // transform: translateX(-50%);
      // border-radius: 50%;
    }
  }

  p {
    text-align: center;
    line-height: 90/@rem;
    font-size: 18/@rem;
    color: #fff;
  }

  .pms {
    line-height: 30/@rem;
  }


  .change_pass {
    font-size: 16/@rem;
    margin-left: 50%;
    transform: translateX(-50%) translateY(0.4rem);
    width: 150/@rem;
    height: 40/@rem;
    border-radius: 8/@rem;
    color: #0b9eb8;
  }
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);

  .changepass {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 600/@rem;
    height: 300/@rem;
    font-size: 16/@rem;
    background: url(../assets/img/changepass.png) no-repeat;
    background-size: 100% 100%;

    .pas {
      width: 450/@rem;
      height: 40/@rem;
      line-height: 40/@rem;
      margin: 50/@rem auto;
      display: flex;

      span {
        flex: 1;
        text-align: right;
      }

      input {
        flex: 3;
        text-indent: 16/@rem;
        letter-spacing: 2/@rem;
        border-radius: 8/@rem;
      }
    }

    .subs {
      position: absolute;
      bottom: 30/@rem;
      left: 50%;
      transform: translateX(-50%);
      width: 230/@rem;
      height: 40/@rem;
      display: flex;

      button {
        flex: 4;
        border-radius: 8/@rem;
        background: #8ed0ff;
        cursor: pointer;
      }

      i {
        flex: 2
      }

      button:hover {
        background: #60cab3
      }
    }

  }

  .up-pic {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 50/@rem ;
    margin: auto;
    width: 600/@rem;
    height: 300/@rem;
    font-size: 16/@rem;
    background: url(../assets/img/changepass.png) no-repeat;
    background-size: 100% 100%;

    .del {
      position: absolute;
      width: 30/@rem;
      height: 30/@rem;
      line-height: 30/@rem;
      text-align: center;
      border-radius: 50%;
      top: 16/@rem;
      right: 16/@rem;
      background: red;
      color: #fff;
      cursor: pointer;
    }


  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

  }

  .avatar-uploader .el-upload:hover {
    // border-color: #409EFF;
    border-color: rgb(228, 232, 236);
  }

  .avatar-uploader-icon {
    // font-size: 28px;
    font-size: 50/@rem;
    color: #f2f5f8;
    text-indent: 5000px;
    // width: 178px;
    // height: 178px;
    width: 200/@rem;
    height: 200/@rem;
    background: url(../assets/img/upload-img.png) no-repeat center;
    background-size: 65% 65%;
    line-height: 200/@rem;
    // line-height: 178px;
    text-align: center;
    margin-left: 150/@rem;
  }

  .avatar {
    // width: 178px;
    // height: 178px;
    width: 200/@rem;
    height: 200/@rem;

    display: block;
  }







}

@keyframes shanshuo {
  from {
    box-shadow: 0 0 0/@rem 0/@rem rgb(193, 0, 0);
  }

  to {
    box-shadow: 0 0 15/@rem 5/@rem rgb(193, 0, 0);
  }
}




.has_donghua {
  // box-shadow: inset 0 0 10px 5px red;
  // animation: shanshuo .5s linear infinite;
  // animation-direction: alternate;
  i{
    transform: rotate(180deg);
  }
}

.warning_list {
  width: 316/@rem;
  height: 145/@rem;
  overflow: hidden;
  position: absolute;
  bottom: 90/@rem;
  right: 80/@rem;
  .warning_item {
    font-size: 16/@rem;
    height: 48/@rem;
    line-height: 48/@rem;
    background: url(../assets/img/warn-item.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    transition: 0.6s;
    &:hover{
      background: url(../assets/img/warn-item-a.png) no-repeat;
      background-size: 100% 100%;
      span:nth-child(3){
        display: block;
      }
    }
    span:nth-child(1) {
      height:20/@rem;
      max-width:32/@rem;
      overflow: hidden;
      line-height: 20/@rem;
      padding:0 6/@rem;
      border-radius: 12/@rem;
      margin:0 10/@rem 0 25/@rem;
      font-size: 16/@rem;
      background: rgb(230, 169, 83);
      color: rgb(255, 254, 254);      
      transform: translateX(-20%);
      overflow: hidden;
    }

    span:nth-child(2) {
      width: 156/@rem;
      height: 30/@rem;
      font-size: 14/@rem;
      line-height: 30/@rem;
      color: #fffeff;
      cursor: pointer;
      i{
        font-size: 16/@rem;
      }
    }

    span:nth-child(3) {
      width: 90/@rem;
      cursor: pointer;
      text-align: center;
      font-size: 12/@rem;
      border:1/@rem solid rgb(236, 75, 75);
      border-radius: 5/@rem;
      height: 28/@rem;
      line-height: 30/@rem;
      color: #fff;
      transform: scale(0.8);
      display: none;
    }
  }

  .warning_item:nth-child(1) {
    z-index: 3;

  }

  .warning_item:nth-child(2) {

    z-index: 2;
  }

  .warning_item:nth-child(3) {

    z-index: 1;
  }
}

.warning_list_onoff {
  box-sizing: border-box;
  padding:10/@rem 10/@rem 0;
  font-size: 14/@rem;
  position: absolute;
  bottom: 80/@rem;
  right: 30/@rem;
  width: 46/@rem;
  height: 130/@rem;
  // border-radius: 8/@rem;
  background: url(../assets/img/warn-btn.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  line-height: 20/@rem;
  cursor: pointer;

  span {
    font-size: 14/@rem;
    color: #fff;
  }
  i{
    display: inline-block;
    margin-top: 3/@rem;
    width: 14/@rem;
    height:14/@rem;
    background: url(../assets/img/fangxiang-icon.png) no-repeat;
    background-size: 100% 100%;
    transition: 0.6s;
  }
}



.tixing {
  position: absolute;
  // left:10/@rem;
  left: -300px;
  top: 180/@rem;
  width: 100/@rem;
  height: 200/@rem;
  background: red;
}

.tongbu {
  width: 300/@rem;
  height: 300/@rem;
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;



  .round {
    width: 100/@rem;
    height: 100/@rem;
    margin: 30/@rem auto;
    background: url(../assets/img/round2.png) no-repeat;
    background-size: 100% 100%;
    animation: zhuan 4s linear infinite;
  }
}
