@vw:19.2vw;
@vh:10.8vh;
@rem:100rem;
.wrap{
    width:100%;
    height:100%;
    .cover{
      position: fixed;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
      z-index: 99;
      background: rgba(0,0,0,0.4);
    }
}
#new-map{
    
    width:100%;
    height:100%;
}
/deep/#new-map{
    .marker-route11 {
        position: relative;
        width: 50/@rem;
        height: 60/@rem;
        top:-25/@vw;
    }
    .marker-route11.lixian{
      top:0/@vw;
    }
    .is_lixian{
        .img_wrap11{
          filter: grayscale(90%);
        }
        // .cover11{
        //   filter: grayscale(90%);
        // }
    }
    .set-type{
        position: absolute;
        z-index: 1;
        top:-10/@vw;
        right:-10/@vw;
        width:25/@vw;
        height:25/@vw;
      }
      .marker-route11 .cover00 {
          position: absolute;
          top:0;
          left:0;
          z-index: 1;
        width: 100%;
        height: 100%;
        background: url('../../assets/img/tou.png') no-repeat;
        background-size: 100% 100%;
      }
      .marker-route11 .cover11 {
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
      width: 100%;
      height: 100%;
      background: url('../../assets/img/tou2.png') no-repeat;
      background-size: 100% 100%;
    }
    
    .marker-route11 .cover22 {
      position: absolute;
      top:0;
      left:0;
      z-index: 1;
    width: 100%;
    height: 100%;
    background: url('../../assets/img/tou3.png') no-repeat;
    background-size: 100% 100%;
  }
  .marker-route11 .cover33 {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../../assets/img/tou4.png') no-repeat;
  background-size: 100% 100%;
}
      .marker-route11 .img_wrap11 {
        width: 46/@rem;
        height: 50/@rem;
        margin-top: 3/@rem;
        margin-left: 1/@rem;
        border-radius: 50%;
        overflow: hidden;
        img {
            position: absolute;
            top:2/@vw;
            left:0/@vw;
          width: 100%;
        }
      }
    
      .litao{
        background: url('../../assets/img/litao-s.png');
        background-size: 100% 100%;;
      }
      .rutao{
        background: url('../../assets/img/rutao-s.png');
        background-size: 100% 100%;;
      }
      .fanwei{
        background: url('../../assets/img/fanwei-s.png');
        background-size: 100% 100%;;
      }
      .bigemap-div-icon{
        width:0px !important;
        height:0px !important;
      }
    
      .cover{
          position:fixed;
          top:0;
          left:0;
          width:100vw;
          height:100vh;
          background: rgba(0,0,0,0.4);
      }
      .leader0{
          position: absolute;
          top:-26/@rem;
          left: -10/@rem;
          width: 30/@rem;
          height:90/@rem;
          background: url('../../assets/img/leader.png') no-repeat;
          background-size: 100% 100%;
      }
      .leader1{
          position: absolute;
          top:-26/@rem;
          left: -10/@rem;
          width: 30/@rem;
          height:90/@rem;
          background: url('../../assets/img/leader1.png') no-repeat;
          background-size: 100% 100%;
      }
      .leader2{
          position: absolute;
          top:-26/@rem;
          left: -10/@rem;
          width: 30/@rem;
          height:90/@rem;
          background: url('../../assets/img/leader2.png') no-repeat;
          background-size: 100% 100%;
      }
      .leader3{
          position: absolute;
          top:-26/@rem;
          left: -10/@rem;
          width: 30/@rem;
          height:90/@rem;
          background: url('../../assets/img/leader3.png') no-repeat;
          background-size: 100% 100%;
      }
}