.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.wrap .cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);
}
#new-map {
  width: 100%;
  height: 100%;
}
 /deep/ #new-map .marker-route11 {
  position: relative;
  width: 0.5rem;
  height: 0.6rem;
  top: -1.30208333vw;
}
 /deep/ #new-map .marker-route11.lixian {
  top: 0vw;
}
 /deep/ #new-map .is_lixian .img_wrap11 {
  filter: grayscale(90%);
}
 /deep/ #new-map .set-type {
  position: absolute;
  z-index: 1;
  top: -0.52083333vw;
  right: -0.52083333vw;
  width: 1.30208333vw;
  height: 1.30208333vw;
}
 /deep/ #new-map .marker-route11 .cover00 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../../assets/img/tou.png') no-repeat;
  background-size: 100% 100%;
}
 /deep/ #new-map .marker-route11 .cover11 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../../assets/img/tou2.png') no-repeat;
  background-size: 100% 100%;
}
 /deep/ #new-map .marker-route11 .cover22 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../../assets/img/tou3.png') no-repeat;
  background-size: 100% 100%;
}
 /deep/ #new-map .marker-route11 .cover33 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../../assets/img/tou4.png') no-repeat;
  background-size: 100% 100%;
}
 /deep/ #new-map .marker-route11 .img_wrap11 {
  width: 0.46rem;
  height: 0.5rem;
  margin-top: 0.03rem;
  margin-left: 0.01rem;
  border-radius: 50%;
  overflow: hidden;
}
 /deep/ #new-map .marker-route11 .img_wrap11 img {
  position: absolute;
  top: 0.10416667vw;
  left: 0vw;
  width: 100%;
}
 /deep/ #new-map .litao {
  background: url('../../assets/img/litao-s.png');
  background-size: 100% 100%;
}
 /deep/ #new-map .rutao {
  background: url('../../assets/img/rutao-s.png');
  background-size: 100% 100%;
}
 /deep/ #new-map .fanwei {
  background: url('../../assets/img/fanwei-s.png');
  background-size: 100% 100%;
}
 /deep/ #new-map .bigemap-div-icon {
  width: 0px !important;
  height: 0px !important;
}
 /deep/ #new-map .cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
 /deep/ #new-map .leader0 {
  position: absolute;
  top: -0.26rem;
  left: -0.1rem;
  width: 0.3rem;
  height: 0.9rem;
  background: url('../../assets/img/leader.png') no-repeat;
  background-size: 100% 100%;
}
 /deep/ #new-map .leader1 {
  position: absolute;
  top: -0.26rem;
  left: -0.1rem;
  width: 0.3rem;
  height: 0.9rem;
  background: url('../../assets/img/leader1.png') no-repeat;
  background-size: 100% 100%;
}
 /deep/ #new-map .leader2 {
  position: absolute;
  top: -0.26rem;
  left: -0.1rem;
  width: 0.3rem;
  height: 0.9rem;
  background: url('../../assets/img/leader2.png') no-repeat;
  background-size: 100% 100%;
}
 /deep/ #new-map .leader3 {
  position: absolute;
  top: -0.26rem;
  left: -0.1rem;
  width: 0.3rem;
  height: 0.9rem;
  background: url('../../assets/img/leader3.png') no-repeat;
  background-size: 100% 100%;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 39.84375vw;
  height: 73.14814815vh;
  box-sizing: border-box;
  padding: 2.77777778vh 1.5625vw;
}
.put2 {
  width: 300px;
}
.input-with-select {
  box-shadow: 0 0 20px rgba(54, 46, 46, 0.5);
}
.pic1 {
  width: 22.00520833vw;
  height: 33.7962963vh;
  margin-top: 1.85185185vh;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(54, 46, 46, 0.5);
}
.pic2 {
  width: 22.00520833vw;
  height: 23.61111111vh;
  margin-top: 1.85185185vh;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(54, 46, 46, 0.4);
}
.goback {
  transition: 0.3s;
  position: absolute;
  top: 5.83333333vh;
  right: 0;
  z-index: 99;
  width: 2.08333333vw;
  height: 15.97222222vh;
  background: url(../../assets/sucai/toback.png) no-repeat;
  background-size: 100% 100%;
}
.goback.hidden {
  right: -2.08333333vw;
}
.task-list {
  transition: 0.3s;
  position: absolute;
  top: 5.83333333vh;
  right: 0.65104167vw;
  z-index: 99;
}
.task-list.hidden {
  right: -32.29166667vw;
}
