@rem: 100rem;
@vw:19.2vw;
@vh:10.8vh;
.marker-route {
  position: relative;
  width: 70/@rem;
  height: 90/@rem;
  // width:50px;
  // height:60px;

  border: 1px solid red;

}

.marker-route .cover {
  width: 100%;
  height: 100%;
  background: url(../../assets/img/tou.png) no-repeat;
  background-size: 100% 100%;
}

.marker-route .img_wrap {
  width: 68/@rem;
  height: 76/@rem;
  // width:50px;
  // height:60px;
  margin-top: 3/@rem;
  margin-left: 1/@rem;
  border-radius: 50%;
  // background: red;
  overflow: hidden;

  img {
    width: 100%;
  }
}









.chiqiang {
  width: 100%;
  height: 96%;
  background: url(../../assets/img/jigouguanli.png) no-repeat;
  background-size: 100% 100%;
  color: #55affd;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tree-menu {
  width: 11%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  h3 {
    width: 100%;
    height: 50/@rem;
    font-size: 20/@rem;
    line-height: 50/@rem;
    text-indent: 30/@rem;
    color: #fff;
  }

  .nav-wrap {
    transform: scaleX(0.96) translate3d(0, 0, 0);
    /deep/.el-tree{
      background: none;
    }
    /deep/.el-tree-node__label {
      font-size: 16/@rem;
      color:#8ecfff;
    }
    /deep/.el-tree-node__content:hover{
      background-color: #25547b;
    }
    /deep/.is-current{
      &>.el-tree-node__content{
        background-color: #25547b;
        span{
          color: #df7d26;
        }
      }
    }
    /deep/.el-tree-node__content .el-tree-node__expand-icon{
      padding:1/@rem
    }
  }
  
}
.tree-menu::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

.tree-menu::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}

.tree-menu::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.top-nav {
  width: 88%;
  height: 30/@rem;
  position: absolute;
  right: 0;
  display: flex;

  .bread-wrap {
    width: 60%;
    height: 100%;
  }

  .search-wrap {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16/@rem;
    border: 1px solid #55affd;
    overflow: hidden;
    display: flex;

    .sel {
      flex: 3;
      font-size: 16/@rem;
      background: #20364e;
      color: #fff;
    }

    .textput {
      flex: 7;
      font-size: 16/@rem;
      text-indent: 15/@rem;
      background: #20364e;
      color: #fff;
      border-left: 1/@rem solid #55affd;
      border-right: 1/@rem solid #55affd;
    }

    .sub {
      flex: 1;
      font-size: 16/@rem;
      cursor: pointer;
      background: #20364e url(../../assets/img/search.jpg) no-repeat center;

    }
  }
}

.page-index {
  width: 42%;
  padding-right: 20/@rem;
  padding-left: 20/@rem;
  // height: 40/@rem;
  height: 3.6vh;
  position: absolute;
  right: 0;
  // bottom: -47/@rem;
  bottom: -4.6vh;
  background: url(../../assets/img/fenye.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  /deep/.el-pagination__total{
    color:#fff;
    font-size: 16/@rem;
  }
  /deep/.el-pagination button{
    background: none;
  }
  /deep/.el-pager li{
    background: none;
  }
  /deep/.number{
    color:#fff;
    font-size: 16/@rem;
  }
  /deep/.active{
    color:#409EFF;
  }
}

.add-del {
  width: 260/@rem;
  height: 50/@rem;
  line-height: 50/@rem;
  position: absolute;
  top: 30/@rem;
  right: 0;
  display: flex;
  align-items: center;

  button {
    font-size: 12/@rem;
    background: none;
    color: #a4d3ff;
    margin: 0 10/@rem;
    cursor: pointer;
  }

  button:before {
    display: inline-block;
    content: '';
    margin: 0 2/@rem;
    margin-bottom: -10/@rem;
    width: 30/@rem;
    height: 30/@rem;
  }

  button:nth-child(1):before {
    background: url(../../assets/img/add.png) no-repeat;
    background-size: 100% 100%;
  }

  button:nth-child(2):before {
    background: url(../../assets/img/delete.png) no-repeat;
    background-size: 100% 100%;
  }
}

.content {
  box-sizing: border-box;
  padding-top: 30/@rem;
  width: 88.9%;
  height: 95%;
  position: absolute;
  right: 0;
  top: 34/@rem;
  display: flex;

  flex-wrap: wrap;
  // align-content: flex-start;
 align-content: center

}

@keyframes round {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-360deg)
  }
}

@keyframes round2 {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.alert1 {

  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);

  .map_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 80%;
    background: url(../../assets/img/qiangguixiangqing.png) no-repeat;
    background-size: 100% 100%;
  }

  #map-content {
    width: 98%;
    height: 88%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

  }

  .del {
    position: absolute;
    right: 105/@rem;
    bottom: 6/@rem;
    width: 170/@rem;
    height: 30/@rem;
    font-size: 18/@rem;
    background: none;
    // color:rgb(252, 248, 248);
    color: #fff;
    // border-radius: 50%;
    cursor: pointer;
  }
  .del2{
    position: absolute;
    right:30/@rem;
    top:14/@rem;
    width:30/@rem;
    height:30/@rem;
    text-align: center;
    line-height: 30/@rem;
    font-size: 20/@rem;
    color:#fff;
    border:1/@rem solid #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  .check-time {
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 70%;
    background: rgba(0, 0, 0, 0.5);

    .sel_time {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 500/@rem;
      height: 300/@rem;

      box-sizing: border-box;
      padding-top: 40/@rem;
      padding-left: 40/@rem;
      padding-right: 40/@rem;
      background: url(../../assets/img/changepass.png)no-repeat;
      background-size: 100% 100%;

      .del {
        position: absolute;
        top: 10/@rem;
        right: 10/@rem;
        width: 40/@rem;
        height: 40/@rem;
        font-size: 20/@rem;
        border-radius: 50%;
        background: rgb(226, 77, 77)
      }

      h6 {
        width: 100%;
        font-size: 18/@rem;
        color: #fff;
        text-align: center;
      }

      .put_wrap {
        font-size: 16/@rem;
        width: 380/@rem;
        height: 30/@rem;
        margin: 20/@rem auto;
        display: flex;

        span {
          flex: 1;
          line-height: 30/@rem;
          color: #fff;
        }

        input {
          flex: 3
        }
      }

      button {
        position: absolute;
        font-size: 16/@rem;
        bottom: 10/@rem;
        width: 60/@rem;
        height: 30/@rem;
        border-radius: 5/@rem;
        left: 45%;
      }
    }
  }

}
.alert{
  position: absolute;
  z-index: 11;
  width:1100/@vw;
  height:600/@vw;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  margin:auto;
  background: url(../../assets/img/renyuan-a.png) no-repeat;
  background-size: 100% 100%;
  .del{
    position: absolute;
    top:30/@vw;
    right:10/@vw;
    width:36/@vw;
    height:36/@vw;
    border-radius: 50%;
    line-height: 36/@vw;
    font-size: 20/@vw;
    background: none;
    border:1/@vw solid #fff;
    color:#fff;
    cursor: pointer;
  }
  .leftwrap{
    position: absolute;
    left:80/@vw;
    top:86/@vw;
    width:290/@vw;
    height:440/@vw;
    display: flex;
    .box-l{
      width:38%;
      height:100%;
      // background: rgba(1, 222, 0, 0.2);
      .imgwrap{
        position: absolute;
        left:35/@vw;
        top:49/@vw;
        width:40/@vw;
        height:40/@vw;
        background: #00b2fc;
        border-radius: 50%;
        overflow: hidden;
        img{
          width:100%;
        }
      }
      .btnwrap{
        box-sizing: border-box;
        position: absolute;
        top:117/@vw;
        left:10/@vw;
        width:30%;
        height:100/@vw;
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
        button{
          width: 100%;
          height:22/@vw;
          line-height: 22/@vw;
          font-size: 12/@vw;
          background: none;
          color:#fff;
        }
        button:nth-child(3){
          color:red;
        }
      }
      .iconwrap1{
        position: absolute;
        top:269/@vw;
        left:10/@vw;
        width:17%;
        height:30/@vw;
        // border: 1px solid red;
      }
      .iconwrap2{
        position: absolute;
        top:349/@vw;
        left:10/@vw;
        width:17%;
        height:30/@vw;
        // border: 1px solid red;
      }
    }
    .box-r{
      width:62%;
      height:100%;
      font-size: 14/@vw;
      color:#fff;
      &>div{
        box-sizing: border-box;

      }
      .text1{
        height:100/@vw;
        margin-top: 20/@vw;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        p{
          width:100%;
          display: flex;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          i:nth-child(1){
            flex: 1
          }
          i:nth-child(2){
            flex:2.6
          }
        }
      }
      .text2{
        height:100/@vw;
        margin-top: 20/@vw;
        color:#03cbfe;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        p{
          width:100%;
          display: flex;
          i:nth-child(1){
            flex: 1.2
          }
          i:nth-child(2){
            flex:2
          }
        }
      }
      .text3{
        height:60/@vw;
        margin-top: 16/@vw;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        p{width:100%}
      }
      .text4{
        height:60/@vw;
        margin-top: 16/@vw;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        p{width:100%}
      }
    }
  }
  .mes{
    position: absolute;
    width:170/@vw;
    height:70/@vw;
    font-size: 12/@vw;
    color:#fff;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    box-sizing: border-box;
    padding: 10/@vw 0;
    p{
      width:100%;
      i:nth-child(2){color:#cc713c}
    }
  }
  .mes1{
    top:156/@vw;
    left:480/@vw;
  }
  .mes2{
    top:369/@vw;
    left:480/@vw;
  }
  .mes3{
    top:170/@vw;
    left:873/@vw;
  }
}
.none-data {
  width: 50%;
  height: 300/@rem;
  line-height: 300/@rem;
  text-align: center;
  font-size: 20/@rem;
  background: rgba(0, 0, 0, 0.2);
  margin: 100/@rem auto;
  border-radius: 20/@rem;
}

.change_type{
  width: 200/@rem;
  height: 40/@rem;
  position: absolute;
  // top: 36/@rem;
  top:40/@vh;
  left: 300/@rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button{
    border:1/@rem solid rgba(129, 126, 126,0.3);
    color:#fff;
    width:36/@rem;
    height:36/@rem;
    line-height: 20/@rem;
    padding:5/@rem 10/@rem;
    border-radius: 5/@rem;
    cursor: pointer;
  }
  button:nth-child(1){
    background: url(../../assets/img/keshihua.png) no-repeat;
    background-size: 100% 100%;
  }
  button:nth-child(2){
    background: url(../../assets/img/leibiao.png) no-repeat;
    background-size: 100% 100%;
  }
  .active{
    border-color: #50b5f8;
  }
}

.content2{
  width: 88.9%;
height: 88%;
position: absolute;
right: 0;
top: 83/@rem;
font-size: 16/@rem;
  .none-data{
  width:50%;
  height:300/@rem;
  line-height: 300/@rem;
  text-align: center;
  font-size: 20/@rem;
  background: rgba(0,0,0,0.2);
  margin:100/@rem auto; 
  border-radius: 20/@rem;
}
.list-title{
  width:100%;
  // height:40/@vh;
  height:5.1%;
  display: flex;
  align-items: center;
  border-width: 1/@vw 0;
  border-style: solid;
  border-color: cornflowerblue;
  input{
    flex:1
  }
  span{
    height:100%;
    line-height: 36/@vh;
    flex:3;
    text-align: center;
    border-left: 1/@vw solid cornflowerblue;;
  }
  span:last-child{
    flex: 4;
  }
}
.list-item{
  box-sizing: border-box;
  width:100%;
  // height:38.3/@vh;
  height:5%;
  display: flex;
  align-items: center;
  border-width:0 0 1/@vw;
  border-style: solid;
  border-color: cornflowerblue;
  input{
    flex:1
  }
  span{
    height:100%;
    line-height: 36/@vh;
    font-size: 14/@vw;
    color:#fff;
    flex:3;
    text-align: center;
    border-left: 1/@vw solid cornflowerblue;;
  }
  span:last-child{
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button {
    // position: absolute;
    float: right;
    margin-right: 3/@rem;
    right: 0;
    padding: 0/@rem 5/@rem;
    border-radius: 3/@rem;
    border: 1/@rem solid #00b2fc;
    color: #fff;
    background: linear-gradient(to top, #00b2fc, #00b2fc, transparent);
    cursor: pointer;
  }
}
}

.cover{
  position: fixed;
  top:0;
  left:0;
  z-index: 9;
  width: 100vw;
  height:100vh;
  background:rgba(0, 0, 0, 0.8);
}