.jigou {
  width: 100%;
  height: 96%;
  background: url(../../assets/img/jigouguanli.png) no-repeat;
  background-size: 100% 100%;
  color: #55affd;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  background: rgba(19, 53, 82, 0.5);
}
.tree-menu {
  width: 11%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.tree-menu h3 {
  width: 100%;
  height: 0.5rem;
  font-size: 0.2rem;
  line-height: 0.5rem;
  text-indent: 0.3rem;
  color: #fff;
}
.tree-menu .nav-wrap {
  transform: scaleX(0.96) translate3d(0, 0, 0);
}
.tree-menu .nav-wrap /deep/ .el-tree {
  background: none;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__label {
  font-size: 0.16rem;
  color: #8ecfff;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content span {
  color: #df7d26;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content:hover {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content .el-tree-node__expand-icon {
  padding: 0.01rem;
}
.tree-menu::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.tree-menu::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.tree-menu::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.top-nav {
  width: 88%;
  height: 0.3rem;
  position: absolute;
  right: 0;
  display: flex;
}
.top-nav .bread-wrap {
  width: 60%;
  height: 100%;
}
.top-nav .search-wrap {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  font-size: 0.16rem;
  border: 1px solid #55affd;
  overflow: hidden;
  display: flex;
}
.top-nav .search-wrap .sel {
  flex: 3;
  font-size: 0.16rem;
  background: #20364e;
  color: #fff;
}
.top-nav .search-wrap .textput {
  flex: 7;
  font-size: 0.16rem;
  text-indent: 0.15rem;
  background: #20364e;
  color: #fff;
  border-left: 0.01rem solid #55affd;
  border-right: 0.01rem solid #55affd;
}
.top-nav .search-wrap .sub {
  flex: 1;
  font-size: 0.16rem;
  cursor: pointer;
  background: #20364e url(../../assets/img/search.jpg) no-repeat center;
}
.page-index {
  width: 42%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  height: 3.6vh;
  position: absolute;
  right: 0;
  bottom: -4.6vh;
  background: url(../../assets/img/fenye.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  color: #fff;
  z-index: 999;
  align-items: center;
}
.page-index /deep/ .el-pagination__total {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .el-pagination button {
  background: none;
}
.page-index /deep/ .el-pager li {
  background: none;
}
.page-index /deep/ .number {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .active {
  color: #409EFF;
}
.message-box {
  width: 55%;
  height: 0.4rem;
  font-size: 0.18rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0.33rem;
  right: 3rem;
  text-align: center;
  line-height: 0.4rem;
}
.add-del {
  width: 2.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  position: absolute;
  top: 0.3rem;
  right: 0;
  display: flex;
  align-items: center;
}
.add-del button {
  font-size: 0.12rem;
  background: none;
  color: #a4d3ff;
  margin: 0 0.1rem;
  cursor: pointer;
}
.add-del button:before {
  display: inline-block;
  content: '';
  margin: 0 0.02rem;
  margin-bottom: -0.07rem;
  width: 0.26rem;
  height: 0.24rem;
}
.add-del button:active {
  color: #b02727;
}
.add-del button:nth-child(1):before {
  background: url(../../assets/img/add.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:nth-child(2):before {
  background: url(../../assets/img/delete.png) no-repeat;
  background-size: 100% 100%;
}
.content {
  width: 88.7%;
  height: 88%;
  position: absolute;
  right: 0;
  top: 0.83rem;
  overflow: hidden;
  overflow-y: auto;
}
/*滚动条样式*/
.content::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.content::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(9, 94, 221, 0.945);
  background: rgba(20, 3, 177, 0.9);
}
.content::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(12, 203, 209, 0.6);
  border-radius: 0;
  background: rgba(9, 247, 207, 0.8);
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes round2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert {
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 6.88rem;
  height: 6.88rem;
  background: url(../../assets/img/round22.png) no-repeat;
  background-size: 100% 100%;
  animation: round 6s linear infinite;
}
.alert .text-wrap {
  width: 45%;
  height: 68%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation: round2 6s linear infinite;
}
.alert .text-wrap .text-title {
  width: 100%;
  text-align: center;
  color: #2773a3;
  margin-top: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.4rem;
  line-height: 0.38rem;
}
.alert .text-wrap .text {
  height: 2.4rem;
  overflow: hidden;
  font-size: 0.16rem;
  margin-top: 0.4rem;
  color: #2773a3;
}
.alert .text-wrap .text > div {
  width: 100%;
  height: 25%;
  line-height: 0.6rem;
}
.alert .text-wrap .text > div p {
  float: left;
  width: 30%;
}
.alert .text-wrap .text > div input {
  float: right;
  width: 70%;
  height: 0.3rem;
  background: #fff;
  margin-top: 0.16rem;
  background: #0c9ef3;
  border-radius: 0.05rem;
  text-indent: 0.1rem;
  color: #fff;
}
.alert .text-wrap .text > div select {
  width: 70%;
  height: 0.3rem;
  background: #0c9ef3;
  border-radius: 0.05rem;
}
.alert .text-wrap .submit {
  margin: 0.2rem auto;
  font-size: 0.18rem;
  letter-spacing: 0.18rem;
  width: 1rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  text-indent: 0.16rem;
  background: #216ea0;
  color: #fff;
  border-radius: 0.1rem;
  cursor: pointer;
}
.alert .text-wrap .quxiao {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  right: -1.5rem;
  top: -0.3rem;
  color: #fff;
  background: url(../../assets/img/x.png) no-repeat;
  background-size: 100% 100%;
}
.alert .text-wrap .quxiao:hover {
  color: #b02727;
  cursor: pointer;
}
.change {
  width: 6rem;
  height: 3.2rem;
  overflow: hidden;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(../../assets/img/changepass.png) no-repeat;
  background-size: 100% 100%;
}
.change .dataitem {
  font-size: 0.18rem;
  display: flex;
  width: 80%;
  height: 0.5rem;
  line-height: 0.5rem;
  margin: 0.2rem auto;
}
.change .dataitem:nth-child(1) {
  margin-top: 0.8rem;
}
.change .dataitem h5 {
  flex: 1;
  text-align: right;
}
.change .dataitem .put-wrap {
  flex: 3;
  position: relative;
}
.change .dataitem .put-wrap i {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  background: url(../../assets/img/change-til.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 0.1rem;
  margin-left: 0.4rem;
}
.change .dataitem .put-wrap input {
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 0.1rem;
  display: none;
}
.change .checked .put-wrap input {
  display: block;
}
.change button {
  font-size: 0.18rem;
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
  width: 0.8rem;
  height: 0.3rem;
  border-radius: 0.05rem;
  border: 0.01rem solid #00bffe;
  background: linear-gradient(bottom, #00bffe, #1182be);
}
.change button:nth-of-type(1) {
  transform: translateX(-150%);
}
.change button:nth-of-type(2) {
  transform: translateX(50%);
}
.change .checked input {
  display: block;
  position: absolute;
  right: 0;
  width: 3.2rem;
  height: 0.4rem;
  text-indent: 0.1rem;
  background: #0f87c3;
  color: #fff;
}
.change_type {
  width: 2rem;
  height: 0.4rem;
  position: absolute;
  top: 3.7037037vh;
  left: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
}
.change_type button {
  border: 0.01rem solid rgba(129, 126, 126, 0.3);
  color: #fff;
  width: 0.36rem;
  height: 0.36rem;
  line-height: 0.2rem;
  padding: 0.05rem 0.1rem;
  border-radius: 0.05rem;
  cursor: pointer;
}
.change_type button:nth-child(1) {
  background: url(../../assets/img/keshihua.png) no-repeat;
  background-size: 100% 100%;
}
.change_type button:nth-child(2) {
  background: url(../../assets/img/leibiao.png) no-repeat;
  background-size: 100% 100%;
}
.change_type .active {
  border-color: #50b5f8;
}
