.left {
  box-sizing: border-box;
  padding: 2.77777778vh 0 0 0;
  width: 24.140625vw;
  height: 100%;
}
.left .title {
  width: 12.23958333vw;
  height: 4.16666667vh;
  font-size: 1.85185185vh;
  line-height: 2.77777778vh;
  font-size: 1.04166667vw;
  color: #fff;
}
.left .title::before {
  content: '';
  display: inline-block;
  width: 0.52083333vw;
  height: 1.85185185vh;
  background: #3aecfd;
  border-radius: 0.13020833vw;
  margin-right: 0.625vw;
  position: relative;
  top: 0.27777778vh;
}
.left .item1 {
  width: 100%;
  height: 38.42592593vh;
}
.left .item1 .chartwrap {
  box-sizing: border-box;
  padding: 0.92592593vh 0;
  width: 20.83333333vw;
  height: 14.62962963vh;
  margin-bottom: 1.85185185vh;
  background: url(../../assets/sucai/renwutj.png) no-repeat center;
  background-size: 100% 100%;
  color: #aeffff;
  font-size: 0.78125vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.left .item1 .chartwrap .item {
  box-sizing: border-box;
  padding: 0 0.26041667vw;
  width: 100%;
  height: 6.01851852vh;
  color: #AEFFFF;
  border: 0.05208333vw solid transparent;
}
.left .item1 .chartwrap .item .txt {
  width: 100%;
  font-size: 0.91145833vw;
  line-height: 3.7037037vh;
  display: flex;
  font-size: 0.78125vw;
  justify-content: space-between;
}
.left .item1 .chartwrap .item .txt span:nth-child(2) {
  font-size: 1.25vw;
  font-weight: bold;
}
.left .item1 .chartwrap .item .bar {
  width: 100%;
  height: 2.31481481vh;
}
.left .item1 .chartwrap .item:hover {
  cursor: pointer;
  background: rgba(47, 128, 237, 0.2);
  border-color: #0c8ed3;
  box-shadow: 0 1px 20px 0 rgba(58, 236, 253, 0.32), inset 0 0 13px 0 rgba(58, 236, 253, 0.3);
}
.left .item1 .itemwrap {
  width: 23.07291667vw;
  height: 13.42592593vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}
.left .item1 .itemwrap .item {
  box-sizing: border-box;
  width: 11.40625vw;
  height: 6.01851852vh;
  border: 0.05208333vw solid transparent;
  border-radius: 0.13020833vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.78125vw;
  color: #fff;
}
.left .item1 .itemwrap .item .icon {
  width: 2.8125vw;
  height: 2.8125vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url(../../assets/sucai/dongtu/zbk_2.png) no-repeat center;
  background-size: 100% 100%;
}
.left .item1 .itemwrap .item .icon span {
  width: 70%;
  height: 70%;
  margin-top: 5px;
  background: url(../../assets/sucai/renwu_icon1.png) no-repeat center;
  background-size: 100% 100%;
}
.left .item1 .itemwrap .item .text {
  height: 5.37037037vh;
  width: 7.44791667vw;
  box-sizing: border-box;
  padding-top: 2%;
}
.left .item1 .itemwrap .item .text div {
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 1.5625vw;
  padding-left: 0.625vw;
}
.left .item1 .itemwrap .item .text span {
  font-size: 0.78125vw;
  padding-left: 0.625vw;
}
.left .item1 .itemwrap .item:hover {
  cursor: pointer;
  background: rgba(47, 128, 237, 0.2);
  border-color: #0c8ed3;
  box-shadow: 0 1px 20px 0 rgba(58, 236, 253, 0.32), inset 0 0 13px 0 rgba(58, 236, 253, 0.3);
}
.left .item1 .itemwrap .item:nth-child(2) .icon > span {
  background-image: url(../../assets/sucai/renwu_icon2.png);
}
.left .item1 .itemwrap .item:nth-child(3) .icon > span {
  background-image: url(../../assets/sucai/renwu_icon3.png);
}
.left .item1 .itemwrap .item:nth-child(4) .icon > span {
  background-image: url(../../assets/sucai/renwu_icon4.png);
}
.left .item2 {
  width: 100%;
  height: 23.42592593vh;
}
.left .item2 .itemwrap {
  width: 22.65625vw;
  height: 14.35185185vh;
  margin-top: 1.38888889vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.left .item2 .itemwrap .item {
  width: 7.00520833vw;
  height: 5.13888889vh;
  background: url(../../assets/sucai/danyao.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 0.46875vw;
  box-sizing: border-box;
  padding-left: 1.69270833vw;
  padding-top: 0.83333333vh;
  color: #85e3ff;
}
.left .item2 .itemwrap .item p:nth-child(1) {
  font-size: 0.67708333vw;
  line-height: 1.85185185vh;
}
.left .item2 .itemwrap .item p:nth-child(2) {
  font-size: 0.88541667vw;
  line-height: 2.59259259vh;
}
.left .item2 .itemwrap .item:hover {
  cursor: pointer;
  color: #ffbc5b;
  background-image: url(../../assets/sucai/danyao_hover.png);
  background-size: 126% 163%;
  background-position: 46% 50%;
}
.left .item3 .list {
  width: 21.22395833vw;
  height: 20.37037037vh;
  font-size: 0.91145833vw;
  color: #51a4e4;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.left .item3 .list .item {
  box-sizing: border-box;
  padding: 0 2.60416667vw 0 0.65104167vw;
  width: 100%;
  height: 3.28703704vh;
  border-radius: 0.13020833vw;
  background: rgba(30, 63, 103, 0.3);
  border-bottom: 0.0462963vh solid #1e3c59;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left .item3 .list .item span:nth-child(1) {
  width: 1.171875vw;
  height: 1.171875vw;
  color: #fff;
  text-align: center;
  line-height: 1.171875vw;
  background: #51a4e4;
  border-radius: 50%;
}
.left .item3 .list .item span:nth-child(2) {
  width: 11.97916667vw;
}
.left .item3 .list .item:nth-child(1) {
  color: #f2305d;
}
.left .item3 .list .item:nth-child(1) span:nth-child(1) {
  background: #f76179;
}
.left .item3 .list .item:nth-child(2) {
  color: #ffd08d;
}
.left .item3 .list .item:nth-child(2) span:nth-child(1) {
  background: #e6a953;
}
.left .item3 .list .item:nth-child(3) {
  color: #32b8b5;
}
.left .item3 .list .item:nth-child(3) span:nth-child(1) {
  background: #32b8b5;
}
.left .item3 .list .item:hover {
  cursor: pointer;
  background: rgba(47, 128, 237, 0.2);
  border-color: transparent;
  box-shadow: 0 1px 20px 0 rgba(58, 236, 253, 0.32), inset 0 0 13px 0 rgba(58, 236, 253, 0.3);
}
