.jigou {
  width: 100%;
  height: 96%;
  background: url(../../assets/img/jigouguanli.png) no-repeat;
  background-size: 100% 100%;
  color: #55affd;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.tree-menu {
  width: 11%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.tree-menu h3 {
  width: 100%;
  height: 0.5rem;
  font-size: 0.2rem;
  line-height: 0.5rem;
  text-indent: 0.3rem;
  color: #fff;
}
.tree-menu .nav-wrap {
  transform: scaleX(0.96) translate3d(0, 0, 0);
}
.tree-menu .nav-wrap /deep/ .el-tree {
  background: none;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__label {
  font-size: 0.16rem;
  color: #8ecfff;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content span {
  color: #df7d26;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content:hover {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content .el-tree-node__expand-icon {
  padding: 0.01rem;
}
.tree-menu::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.tree-menu::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.tree-menu::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.top-nav {
  width: 88%;
  height: 0.3rem;
  position: absolute;
  right: 0;
  display: flex;
}
.top-nav .bread-wrap {
  width: 50%;
  height: 100%;
}
.top-nav .check-type {
  width: 10%;
  height: 100%;
  text-align: right;
}
.top-nav .check-type select {
  height: 100%;
  width: 80%;
  font-size: 0.14rem;
  background: #20364e;
  color: #fff;
  border: 1px solid #55affd;
  border-right: none;
}
.top-nav .search-wrap {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  font-size: 0.16rem;
  border: 1px solid #55affd;
  overflow: hidden;
  display: flex;
}
.top-nav .search-wrap .sel {
  flex: 3;
  font-size: 0.14rem;
  background: #20364e;
  color: #fff;
}
.top-nav .search-wrap .textput {
  flex: 7;
  font-size: 0.14rem;
  text-indent: 0.15rem;
  background: #20364e;
  color: #fff;
  border-left: 0.01rem solid #55affd;
  border-right: 0.01rem solid #55affd;
}
.top-nav .search-wrap .sub {
  flex: 1;
  font-size: 0.16rem;
  cursor: pointer;
  background: #20364e url(../../assets/img/search.jpg) no-repeat center;
}
.page-index {
  width: 42%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  height: 3.6vh;
  position: absolute;
  right: 0;
  bottom: -4.6vh;
  background: url(../../assets/img/fenye.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
.page-index /deep/ .el-pagination__total {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .el-pagination button {
  background: none;
}
.page-index /deep/ .el-pager li {
  background: none;
}
.page-index /deep/ .number {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .active {
  color: #409EFF;
}
.message-box {
  width: 55%;
  height: 0.5rem;
  font-size: 0.18rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0.33rem;
  right: 3rem;
  text-align: center;
  line-height: 0.5rem;
}
.add-del {
  width: 4.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  position: absolute;
  top: 0.3rem;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-del button {
  font-size: 0.12rem;
  background: none;
  color: #a4d3ff;
  margin: 0 0.1rem;
  cursor: pointer;
}
.add-del button:before {
  display: inline-block;
  content: '';
  margin: 0 0.02rem;
  margin-bottom: -0.07rem;
  width: 0.26rem;
  height: 0.26rem;
}
.add-del button:active {
  color: #c74512;
}
.add-del button:nth-child(1):before {
  background: url(../../assets/img/add.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:nth-child(2):before {
  background: url(../../assets/img/delete.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:nth-child(3):before {
  background: url(../../assets/img/retext.png) no-repeat;
  background-size: 100% 100%;
}
.content {
  width: 88.9%;
  height: 88%;
  position: absolute;
  right: 0;
  top: 0.83rem;
}
.change_type {
  width: 2rem;
  height: 0.4rem;
  position: absolute;
  top: 3.7037037vh;
  left: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.change_type button {
  border: 0.01rem solid rgba(129, 126, 126, 0.3);
  color: #fff;
  width: 0.36rem;
  height: 0.36rem;
  line-height: 0.2rem;
  padding: 0.05rem 0.1rem;
  border-radius: 0.05rem;
  cursor: pointer;
}
.change_type button:nth-child(1) {
  background: url(../../assets/img/keshihua.png) no-repeat;
  background-size: 100% 100%;
}
.change_type button:nth-child(2) {
  background: url(../../assets/img/leibiao.png) no-repeat;
  background-size: 100% 100%;
}
.change_type .active {
  border-color: #50b5f8;
}
.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.cover .text-wrap {
  width: 40%;
  height: 38%;
  position: absolute;
  background: url(../../assets/img/changepass.png) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.cover .text-wrap .text-title {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 0.2rem;
  font-size: 0.24rem;
  line-height: 0.4rem;
  line-height: 0.38rem;
}
.cover .text-wrap .text-content {
  font-size: 0.16rem;
  width: 70%;
  margin: 0.2rem auto 0.5rem;
}
.cover .text-wrap .text-content .floor {
  width: 4rem;
  height: 0.5rem;
  margin: 0 auto;
  display: flex;
}
.cover .text-wrap .text-content span {
  flex: 1;
  line-height: 0.5rem;
  text-align: right;
}
.cover .text-wrap .text-content input {
  flex: 3;
  width: 3rem;
  height: 0.4rem;
  box-sizing: border-box;
  border-radius: 0.05rem;
  padding-left: 0.2rem;
  margin-bottom: 0.1rem;
}
.cover .text-wrap .text-content .el-select {
  flex: 3;
}
.cover .text-wrap .submit {
  margin: 0.2rem auto;
  font-size: 0.18rem;
  letter-spacing: 0.18rem;
  width: 1rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  text-indent: 0.16rem;
  background: #185277;
  color: #fff;
  border-radius: 0.1rem;
  cursor: pointer;
}
.cover .text-wrap i {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  background: #fff;
  color: red;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.xiugai {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 40%;
  height: 38%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  font-size: 0.16rem;
  line-height: 0.3rem;
  background: url(../../assets/img/changepass.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.18rem;
}
.xiugai .title {
  font-size: 0.22rem;
  line-height: 0.5rem;
}
.xiugai .floor {
  width: 4rem;
  height: 0.5rem;
  margin: 0 auto;
  display: flex;
}
.xiugai .floor span:nth-child(1) {
  flex: 1;
  line-height: 0.5rem;
  text-align: right;
}
.xiugai .floor span:nth-child(2) {
  flex: 3;
  line-height: 0.5rem;
}
.xiugai .floor input:nth-child(2) {
  flex: 3;
  text-indent: 0.2rem;
  border-radius: 0.05rem;
}
.xiugai .floor select:nth-child(2) {
  flex: 3;
  border-radius: 0.05rem;
}
.xiugai .floor .el-select {
  flex: 3;
}
.xiugai .del {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}
.xiugai .del:hover {
  background: brown;
}
.xiugai .sub {
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.16rem;
  padding: 0.05rem 0.1rem;
  border-radius: 0.05rem;
  cursor: pointer;
}
.content2 {
  width: 88.9%;
  height: 88%;
  position: absolute;
  right: 0;
  top: 0.83rem;
  font-size: 0.16rem;
}
.content2 .none-data {
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 0.2rem;
  background: rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  border-radius: 0.2rem;
}
.content2 .list-title {
  width: 100%;
  height: 5.1%;
  display: flex;
  align-items: center;
  border-width: 0.05208333vw 0;
  border-style: solid;
  border-color: cornflowerblue;
}
.content2 .list-title input {
  flex: 1;
}
.content2 .list-title span {
  height: 100%;
  line-height: 3.33333333vh;
  flex: 3;
  text-align: center;
  border-left: 0.05208333vw solid cornflowerblue;
}
.content2 .list-item {
  box-sizing: border-box;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  border-width: 0 0 0.05208333vw;
  border-style: solid;
  border-color: cornflowerblue;
}
.content2 .list-item input {
  flex: 1;
}
.content2 .list-item span {
  height: 100%;
  line-height: 3.33333333vh;
  font-size: 0.72916667vw;
  color: #fff;
  flex: 3;
  text-align: center;
  border-left: 0.05208333vw solid cornflowerblue;
}
.alert3 {
  position: absolute;
  width: 70%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../../assets/img/round-bg.png) no-repeat;
  background-size: 100% 100%;
}
.alert3 .t {
  font-size: 0.3rem;
  width: 100%;
  line-height: 1.3rem;
  text-align: center;
}
.alert3 .put1 {
  width: 4rem;
  height: 0.4rem;
  margin-left: 50%;
  text-indent: 0.2rem;
  font-size: 0.18rem;
  transform: translateX(-50%);
}
.alert3 .list {
  width: 80%;
  height: 60%;
  margin: 0.3rem auto 0 auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
}
.alert3 .list .item {
  position: relative;
  width: 30%;
  height: 9%;
  margin-top: 0.05rem;
  margin-right: 1%;
  margin-left: 2%;
  font-size: 0.16rem;
  text-indent: 0.2rem;
  line-height: 0.46rem;
  border-radius: 0.06rem;
  white-space: nowrap;
  background: #005cc8;
}
.alert3 .list .shadow {
  box-shadow: 0 0 1px 1px red;
}
.alert3 .list .no-data {
  font-size: 0.18rem;
  line-height: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.alert3 .list::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.alert3 .list::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(9, 94, 221, 0.945);
  background: rgba(20, 3, 177, 0.9);
}
.alert3 .list::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(12, 203, 209, 0.6);
  border-radius: 0;
  background: rgba(9, 247, 207, 0.8);
}
.alert3 .btn {
  margin-top: 0.1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 0.16rem;
  padding: 0.05rem;
  border-radius: 0.05rem;
}
.alert3 .close {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  background: #f04d4d;
  color: #fff;
  border-radius: 50%;
}
.alert2 {
  position: absolute;
  box-sizing: border-box;
  padding-top: 0.5rem;
  width: 53%;
  height: 39.58333333vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
}
.alert2 .del {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.2rem;
  color: #fff;
  border: 0.01rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.alert2 #dianchi11 {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem 0 0 0.2rem;
}
.alert2 .message {
  width: 4rem;
  height: 2rem;
  padding-left: 2.60416667vw;
  line-height: 0.4rem;
  font-size: 0.2rem;
}
.alert2 .t1 {
  position: absolute;
  width: 18.22916667vw;
  text-align: left;
  left: 2.08333333vw;
  top: 0.9rem;
  font-size: 1.5625vw;
}
.alert2 .t {
  position: absolute;
  width: 28.64583333vw;
  text-align: left;
  right: 0;
  top: 0.9rem;
  font-size: 1.5625vw;
}
.alert2 #chart33 {
  position: absolute;
  right: 0;
  top: 0.6rem;
  width: 6rem;
  height: 5rem;
}
.alert2 .title {
  position: absolute;
  right: 0.2rem;
  top: 5rem;
  width: 5.8rem;
  height: 0.3rem;
  background: rgba(3, 38, 68, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.alert2 .title span {
  text-align: center;
  line-height: 0.3rem;
}
.alert2 .listwrap {
  position: absolute;
  right: 0.2rem;
  top: 5.3rem;
  width: 5.8rem;
  height: 1.6rem;
  overflow-x: hidden;
  overflow-y: hidden;
}
.alert2 .listwrap .list {
  position: absolute;
  top: 0;
  left: 0;
}
.alert2 .listwrap .list .item {
  width: 5.8rem;
  height: 0.3rem;
  font-size: 0.14rem;
  background: rgba(3, 38, 68, 0.07);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.alert2 .listwrap .list .item span {
  text-align: center;
  line-height: 0.3rem;
}
.alert2 .close {
  position: absolute;
  right: 1.05rem;
  bottom: 0.06rem;
  width: 1.7rem;
  height: 0.3rem;
  font-size: 0.18rem;
  background: none;
  color: #fff;
  cursor: pointer;
}
