.vidio {
  width: 100%;
  height: 96%;
  background: url(../../assets/img/jigouguanli.png) no-repeat;
  background-size: 100% 100%;
  color: #55affd;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.tree-menu {
  width: 11%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.tree-menu h3 {
  width: 100%;
  height: 0.5rem;
  font-size: 0.2rem;
  line-height: 0.5rem;
  text-indent: 0.3rem;
  color: #fff;
}
.tree-menu .nav-wrap {
  transform: scaleX(0.96) translate3d(0, 0, 0);
}
.tree-menu .nav-wrap /deep/ .el-tree {
  background: none;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__label {
  font-size: 0.16rem;
  color: #8ecfff;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content:hover {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content {
  background-color: #25547b;
}
.tree-menu .nav-wrap /deep/ .is-current > .el-tree-node__content span {
  color: #df7d26;
}
.tree-menu .nav-wrap /deep/ .el-tree-node__content .el-tree-node__expand-icon {
  padding: 0.01rem;
}
.tree-menu::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.tree-menu::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(63, 4, 173, 0.5);
  background: rgba(34, 3, 117, 0.8);
}
.tree-menu::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(221, 213, 213, 0.6);
}
.top-nav {
  width: 88%;
  height: 0.3rem;
  position: absolute;
  right: 0;
  display: flex;
}
.top-nav .bread-wrap {
  width: 60%;
  height: 100%;
}
.top-nav .search-wrap {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  font-size: 0.16rem;
  border: 1px solid #55affd;
  overflow: hidden;
  display: flex;
}
.top-nav .search-wrap .sel {
  flex: 3;
  font-size: 0.16rem;
  background: #20364e;
  color: #fff;
}
.top-nav .search-wrap .textput {
  flex: 7;
  font-size: 0.16rem;
  text-indent: 0.15rem;
  background: #20364e;
  color: #fff;
  border-left: 0.01rem solid #55affd;
  border-right: 0.01rem solid #55affd;
}
.top-nav .search-wrap .sub {
  flex: 1;
  font-size: 0.16rem;
  cursor: pointer;
  background: #20364e url(../../assets/img/search.jpg) no-repeat center;
}
.page-index {
  width: 42%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  height: 3.6vh;
  position: absolute;
  right: 0;
  bottom: -4.6vh;
  background: url(../../assets/img/fenye.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
.page-index /deep/ .el-pagination__total {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .el-pagination button {
  background: none;
}
.page-index /deep/ .el-pager li {
  background: none;
}
.page-index /deep/ .number {
  color: #fff;
  font-size: 0.16rem;
}
.page-index /deep/ .active {
  color: #409EFF;
}
.add-del {
  width: 4.6rem;
  height: 0.38rem;
  position: absolute;
  top: 4.6%;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-del button {
  font-size: 0.12rem;
  background: none;
  color: #a4d3ff;
  margin: 0 0.1rem;
  cursor: pointer;
}
.add-del button:before {
  display: inline-block;
  content: '';
  margin: 0 0.08rem;
  margin-bottom: -0.05rem;
  width: 0.3rem;
  height: 0.2rem;
}
.add-del button:nth-child(1):before {
  background: url(../../assets/img/upload.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:nth-child(2):before {
  background: url(../../assets/img/download.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:nth-child(3):before {
  height: 0.23rem;
  width: 0.24rem;
  background: url(../../assets/img/delete.png) no-repeat;
  background-size: 100% 100%;
}
.add-del button:active {
  color: #18b320;
}
.content {
  width: 88.9%;
  height: 90%;
  position: absolute;
  right: 0;
  top: 9.88%;
}
.alert {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
}
.alert .submit {
  margin: 0.2rem auto;
  font-size: 0.18rem;
  letter-spacing: 0.18rem;
  width: 1rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  text-indent: 0.16rem;
  background: #185277;
  color: #fff;
  border-radius: 0.1rem;
}
.cover {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}
.cover .colse11 {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  color: red;
  border-radius: 50%;
}
.cover #video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 80%;
  max-height: 100%;
}
.cover .alert {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../../assets/img/qiangguixiangqing.png) no-repeat;
  background-size: 100% 100%;
}
.cover .alert #video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 80%;
  max-width: 90%;
  margin: auto;
}
.cover .alert .del {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: 0.3rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.2rem;
  color: #fff;
  border: 0.01rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.cover .alert .close {
  position: absolute;
  right: 1.05rem;
  bottom: 0.06rem;
  width: 1.7rem;
  height: 0.3rem;
  font-size: 0.18rem;
  background: none;
  color: #fff;
  cursor: pointer;
}
.cover .alert .content {
  position: absolute;
  font-size: 0.18rem;
  text-align: center;
  top: 4%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 98%;
  height: 84%;
}
.cover .alert .content .over {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 2rem;
  margin-top: 0.8rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.1rem;
  z-index: 3;
}
.cover .alert .content .floor {
  width: 90%;
  height: 0.4rem;
  margin: 0 auto 0.2rem;
  display: flex;
  justify-content: space-between;
}
.cover .alert .content .floor > div {
  width: 48%;
  height: 100%;
  line-height: 0.4rem;
  display: flex;
}
.cover .alert .content .floor > div span {
  flex: 1;
}
.cover .alert .content .floor > div input {
  flex: 3;
  border-radius: 0.05rem;
  background: none;
  border: 0.01rem solid #55affd;
  color: #fff;
  text-indent: 0.16rem;
}
.cover .alert .content .floor > div span:nth-child(2) {
  flex: 3;
  color: #fff;
}
.cover .alert .content .floor > div select {
  flex: 3;
  border-radius: 0.05rem;
  background: #182c3f;
  border: 0.01rem solid #55affd;
  color: #fff;
}
.cover .alert .content .el-upload--text {
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  background: #185277;
  line-height: 2rem;
  text-align: center;
  margin: 1rem auto;
  border-radius: 0.1rem;
}
.avatar {
  width: 2rem;
}
