@rem: 100rem;

@keyframes dou {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(0.96)
  }

  100% {
    transform: scale(1)
  }
}


.sixitem {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  // align-content: space-around;

  &>div {
    width: 31.2%;
    // height: 240/@rem;
    height: 40%;
    margin: 1%;
    background: url(../../../assets/img/item-bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;

    .text {
      width: 86%;
      height: 60%;
      margin: 35/@rem auto 5/@rem auto;
      font-size: 14/@rem;
      line-height: 36/@rem;
      //    display: grid;
      //    grid-template-columns: 1fr 1fr;
      //    grid-template-rows: repeat(4,1fr);
      //     grid-column-gap: 5/@rem
      display: flex;
      flex-wrap: wrap;

      p {
        margin: 0 26/@rem 0 0;
        height: 36/@rem;
        min-width: 20%;

        span {
          color: #3293e7
        }
      }
    }

    .change {
      font-size: 14/@rem;
      color: #b9d2e7;
      position: absolute;
      width: 100/@rem;
      height: 30/@rem;
      line-height: 30/@rem;
      background: linear-gradient(to top, #03aaf0, #1173a4, transparent);
      border: 1/@rem solid #03aaf0;
      border-radius: 6/@rem;
      // bottom: 30/@rem;
      bottom: 15%;
      right: 50/@rem;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to top, #03aaf0, #03aaf0, #1173a4, transparent);
      }

      &:active {
        background: linear-gradient(to top, #035e85, #035375, #034b6e, transparent);
      }
    }

    .del {
      position: absolute;
      width: 30/@rem;
      height: 30/@rem;
      line-height: 30/@rem;
      border-radius: 50%;
      background: red;
      color: #fff;
      top: 0/@rem;
      right: 0/@rem;
    }


  }

  .dou {
    animation: dou 2s infinite;
  }
}
