.shangchuan {
  height: 100%;
  position: relative;
}
.shangchuan .top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.45rem;
  box-sizing: border-box;
  border: 0.01rem solid #328dc3;
  border-left: none;
  border-right: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.16rem;
  line-height: 0.4rem;
  display: grid;
  grid-template-columns: 1fr repeat(7, 5fr);
  grid-template-rows: 1fr;
}
.shangchuan .top-bar span {
  text-align: center;
  border-right: 0.01rem solid #328dc3;
}
.shangchuan .top-bar span:last-child {
  border-right: none;
}
.shangchuan .list {
  padding-top: 0.44rem;
  height: 96.5%;
}
.shangchuan .list .item {
  width: 100%;
  height: 6.4516129%;
  font-size: 0.14rem;
  color: #fff;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr repeat(7, 5fr);
  grid-template-rows: 1fr;
}
.shangchuan .list .item .db {
  text-decoration: underline;
  cursor: pointer;
}
.shangchuan .list .item span {
  text-align: center;
  border: 0.01rem solid #328dc3;
  border-left: none;
  border-top: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.none-data {
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 0.2rem;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  border-radius: 0.2rem;
  transform: translateY(1rem);
}
