
@rem:100rem;

.qiangku{
    width:100%;
    height:96%;
    background:url(../../assets/img/jigouguanli.png) no-repeat;
    background-size: 100% 100%;
    color:#55affd;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.tree-menu{
    width:11%;
    height:100%;

    h3{
        width:100%;
        height:50/@rem;
        font-size: 20/@rem;
        line-height: 50/@rem;
        text-indent: 30/@rem;
        color:#fff;
    }
    .nav-wrap{
        // width:120%;
        // height:120%;
        // margin-left:-10%;
        // margin-top:-50%;
        // padding-left:5/@rem;
        transform: scaleX(0.96) translate3d(0,0,0);
    }
}
.top-nav{
    width:88%;
    height:30/@rem;
    position: absolute;
    right:0;
}
.page-index{
    width:42%;
    padding-right:20/@rem;
    padding-left:20/@rem;
    height:40/@rem;
    position: absolute;
    right:0;
    bottom:-47/@rem;
    background: url(../../assets/img/fenye.png) no-repeat;
    background-size: 100% 100%;
}
.add-del{
    width:260/@rem;
    height:50/@rem;
    line-height: 50/@rem;
    position: absolute;
    top:30/@rem;
    right:0;
    display: flex;
    align-items: center;

    button{
        font-size:12/@rem;
        background: none;
        color:#a4d3ff;
        margin:0 10/@rem;
        cursor: pointer;
    }
    button:before{
        display: inline-block;
        content:'';
        margin:0 2/@rem;
        margin-bottom:-10/@rem;
        width:30/@rem;
        height:30/@rem;
    }
    button:nth-child(1):before{
        background: url(../../assets/img/add.png) no-repeat;
        background-size: 100% 100%;
    }
    button:nth-child(2):before{
        background: url(../../assets/img/delete.png) no-repeat;
        background-size: 100% 100%;
    }
}
.content{
    width:88.9%;
    height:95%;
    position: absolute;
    right:0;
    top:33/@rem;
}
@keyframes round{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(-360deg)
    }
}
@keyframes round2{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
.alert{
    position: absolute;
    z-index: 99;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    width:688/@rem;
    height:678/@rem;
    background: url(../../assets/img/add-round.png)no-repeat;
    background-size: 100% 100%;
    transform-origin: center center;
    animation: round 6s linear infinite ;
    .text-wrap{
        width:40%;
        height:68%;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin:auto;
        animation: round2 6s linear infinite ;
        .text-title{
            width:100%;
            text-align: center;
            color:#fff;
            margin-top:50/@rem;
            font-size: 24/@rem;
            line-height: 40/@rem;
            line-height: 38/@rem;
        }
        .text-content{
            height:60%;
            width: 100%;
            // margin:6% 0;
            font-size: 12/@rem;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(6,1fr);
            grid-gap: 9/@rem;
            span{
                width:100%;
                height:100%;
                line-height: 40/@rem;
                text-align: right;
            }
            input{
                width:100%;
                height:100%;
                background: #3492c9;
               border-radius: 10/@rem;
               text-indent: 10/@rem;
               color:#fff;
            }
        }
        .submit{
            margin:20/@rem auto;
            font-size: 18/@rem;
            letter-spacing: 18/@rem;
            width:100/@rem;
            height:30/@rem;
            text-align: center;
            line-height: 30/@rem;
            text-indent: 16/@rem;
            background: #185277;
            color:#fff;
            border-radius: 10/@rem;
        }
    }
}
